@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/_reset.scss */
body,
html,
div,
p,
img,
a,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  /* img elements 圖片元素 */
  border: medium none;
  vertical-align: baseline;
  background: transparent;
}

/* line 26, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 35, ../sass/_reset.scss */
em {
  font-style: normal;
}

/* 重置清單元素 */
/* line 39, ../sass/_reset.scss */
ul, ol {
  list-style: none;
}

/* 重置超連結元素 */
/* line 43, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 47, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* 重置圖片元素 */
/* line 51, ../sass/_reset.scss */
img {
  vertical-align: middle;
  border: 0px;
}

/********************
 reset OVER!
*********************/
/****** 開始 navigation bar  **/
/* line 8, ../sass/_nav.scss */
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
/* line 14, ../sass/_nav.scss */
.navbar > ul {
  float: right;
  text-align: center;
  padding: 1% 1% 0px 0px;
}

/* line 20, ../sass/_nav.scss */
.navbar_li {
  float: left;
  color: #999999;
  transition: all 0.1s ease-out;
}
/* line 25, ../sass/_nav.scss */
.navbar_li:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.9);
  font-weight: bold;
}

/* line 33, ../sass/_nav.scss */
.navbar_li_a {
  display: block;
  color: #999999;
  font-size: 16px;
  padding: 3px 10px;
}
/* line 40, ../sass/_nav.scss */
.navbar_li_a > h2 {
  padding-bottom: 8px;
  color: #666666;
  font-size: 1.3em;
}
/* line 46, ../sass/_nav.scss */
.navbar_li_a > p {
  font-size: 0.9em;
}

/* line 51, ../sass/_nav.scss */
#sub-logo {
  position: absolute;
  width: 13%;
}

@keyframes img-logo-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/********/
/* line 8, ../sass/home2.scss */
.wrap, .background {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/home2.scss */
.mainTitle > img, .section4-text > img, .cloud-col > img, .cloud-button, .cloud-botton-container > img {
  position: relative;
}

/* line 17, ../sass/home2.scss */
.wrap {
  position: fixed;
}
/* line 21, ../sass/home2.scss */
.wrap > img {
  position: absolute;
}
/* line 25, ../sass/home2.scss */
.wrap > div {
  position: absolute;
}

/* line 33, ../sass/home2.scss */
.background > .horizontal {
  display: flex;
  height: 100%;
}
/* line 37, ../sass/home2.scss */
.background img {
  height: 100%;
}

/* line 44, ../sass/home2.scss */
.mosquito-container {
  right: 9%;
  top: 13%;
  width: 9%;
}

/* line 50, ../sass/home2.scss */
#mosquito {
  background: url("../src/img/1-mosquito-all.png") repeat no-repeat;
  width: 50px;
  height: 64px;
  -moz-animation: mosquito-fly 0.4s steps(3) infinite;
  -webkit-animation: mosquito-fly 0.4s steps(3) infinite;
  animation: mosquito-fly 0.4s steps(3) infinite;
}

@-moz-keyframes mosquito-fly {
  to {
    background-position-x: -150px;
  }
}
@-webkit-keyframes mosquito-fly {
  to {
    background-position-x: -150px;
  }
}
@keyframes mosquito-fly {
  to {
    background-position-x: -150px;
  }
}
/* line 63, ../sass/home2.scss */
.mainTitle {
  width: 45%;
  left: 40%;
  top: 23%;
}
/* line 72, ../sass/home2.scss */
.mainTitle > .logo-title {
  width: 100%;
}
/* line 76, ../sass/home2.scss */
.mainTitle > .section1-text {
  position: absolute;
  width: 80%;
  bottom: 0%;
  left: -24%;
  opacity: 0;
  -moz-animation: section1-textIn 0.3s linear 0.5s forwards;
  -webkit-animation: section1-textIn 0.3s linear 0.5s forwards;
  animation: section1-textIn 0.3s linear 0.5s forwards;
}

@-moz-keyframes section1-textIn {
  0% {
    -moz-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes section1-textIn {
  0% {
    -webkit-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes section1-textIn {
  0% {
    -moz-transform: scale(10, 10);
    -ms-transform: scale(10, 10);
    -webkit-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
/* line 102, ../sass/home2.scss */
#mosss {
  top: 11%;
  left: -50%;
  width: 36%;
}

/* line 108, ../sass/home2.scss */
#section2-text {
  top: 43%;
  left: -100%;
  width: 45%;
}

/* line 114, ../sass/home2.scss */
#bottle {
  bottom: -100%;
  width: 70%;
  left: 5%;
}

/* line 120, ../sass/home2.scss */
#bottle-2 {
  width: 50%;
  bottom: -100%;
  left: 50%;
}

/* line 129, ../sass/home2.scss */
#tsunami {
  width: 100%;
  bottom: -100%;
}

/* line 134, ../sass/home2.scss */
#section3-text {
  top: 19%;
  left: 11%;
  width: 45%;
  opacity: 0;
}

/* line 141, ../sass/home2.scss */
.bone {
  bottom: -100%;
  width: 80%;
}

/* line 146, ../sass/home2.scss */
#bone1 {
  left: 5%;
}

/* line 153, ../sass/home2.scss */
#theMosquitoMan {
  width: 5%;
  left: 50%;
  bottom: 30%;
  opacity: 0;
}

/* line 160, ../sass/home2.scss */
.section4-text {
  width: 45%;
  bottom: 62%;
  left: 15%;
  opacity: 0;
}
/* line 170, ../sass/home2.scss */
.section4-text > #section4-text_1 {
  width: 100%;
}
/* line 174, ../sass/home2.scss */
.section4-text > #section4-text_2 {
  width: 60%;
  left: 50%;
  opacity: 0;
}

/* line 181, ../sass/home2.scss */
.cloud {
  left: 13%;
  width: 100%;
  height: 80%;
  display: flex;
  opacity: 0;
  -moz-animation: cloud-move 300s linear infinite forwards;
  -webkit-animation: cloud-move 300s linear infinite forwards;
  animation: cloud-move 300s linear infinite forwards;
}

/* line 192, ../sass/home2.scss */
.cloud-move {
  -moz-animation: cloud-move 300s linear forwards;
  -webkit-animation: cloud-move 300s linear forwards;
  animation: cloud-move 300s linear forwards;
}

@-moz-keyframes cloud-move {
  0% {
    left: 10%;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes cloud-move {
  0% {
    left: 10%;
  }
  100% {
    left: -100%;
  }
}
@keyframes cloud-move {
  0% {
    left: 10%;
  }
  100% {
    left: -100%;
  }
}
/* line 205, ../sass/home2.scss */
.cloud-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
/* line 210, ../sass/home2.scss */
.cloud-col > img {
  width: 40%;
}
/* line 217, ../sass/home2.scss */
.cloud-col > .cloud02 {
  left: -10%;
  top: -5%;
}
/* line 221, ../sass/home2.scss */
.cloud-col > .cloud03 {
  left: 30%;
}
/* line 225, ../sass/home2.scss */
.cloud-col > .cloud04 {
  top: 25%;
  left: -10%;
}
/* line 229, ../sass/home2.scss */
.cloud-col > .cloud05 {
  top: -7%;
  left: 30%;
}
/* line 233, ../sass/home2.scss */
.cloud-col > .cloud06 {
  left: 50%;
}
/* line 236, ../sass/home2.scss */
.cloud-col > .cloud07 {
  left: 20%;
}
/* line 240, ../sass/home2.scss */
.cloud-col > .cloud-button_1 {
  top: 25%;
  left: -10%;
}
/* line 245, ../sass/home2.scss */
.cloud-col > .cloud-button_2 {
  left: 20%;
}

/* line 250, ../sass/home2.scss */
.cloud-button {
  width: 40%;
}
/* line 254, ../sass/home2.scss */
.cloud-button > p {
  opacity: 0;
  color: #575555;
  left: 20%;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
}
/* line 264, ../sass/home2.scss */
.cloud-button > #button-p_2 {
  top: 10px;
  left: 15%;
}

@-moz-keyframes button-text {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes button-text {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes button-text {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* line 285, ../sass/home2.scss */
.man-run-container {
  bottom: 35%;
  left: -30%;
}

/* line 290, ../sass/home2.scss */
.man-run {
  position: relative;
  background: url("../src/img/5-run-all2.png") no-repeat right;
  width: 214px;
  height: 91px;
  -moz-animation: man-run 0.5s steps(9) infinite;
  -webkit-animation: man-run 0.5s steps(9) infinite;
  animation: man-run 0.5s steps(9) infinite;
}

@-moz-keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@-webkit-keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
/* line 307, ../sass/home2.scss */
.cloud-botton-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 55%;
  opacity: 0;
}
/* line 318, ../sass/home2.scss */
.cloud-botton-container > img {
  width: 40%;
}

/* line 323, ../sass/home2.scss */
#cloud-botton_1 {
  left: -25%;
}

/* line 327, ../sass/home2.scss */
#cloud-botton_2 {
  left: -10%;
}

@-moz-keyframes cloud-button1 {
  0% {
    left: -25%;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes cloud-button1 {
  0% {
    left: -25%;
  }
  100% {
    left: -100%;
  }
}
@keyframes cloud-button1 {
  0% {
    left: -25%;
  }
  100% {
    left: -100%;
  }
}
@media screen and (max-width: 900px) {
  /* line 342, ../sass/home2.scss */
  #mosquito {
    top: 9%;
  }

  /* line 345, ../sass/home2.scss */
  #logo-title {
    top: 18%;
  }
}
@media screen and (max-width: 768px) {
  /* line 351, ../sass/home2.scss */
  #mosquito {
    top: 6%;
  }

  /* line 354, ../sass/home2.scss */
  #logo-title {
    top: 10%;
  }
}
