@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/_reset.scss */
body,
html,
div,
p,
img,
a,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* img elements 圖片元素 */
  border: medium none;
  vertical-align: baseline;
  background: transparent;
}

/* line 32, ../sass/_reset.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 42, ../sass/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

/* line 51, ../sass/_reset.scss */
em {
  font-style: normal;
}

/* 重置清單元素 */
/* line 58, ../sass/_reset.scss */
ul,
ol {
  list-style: none;
}

/* 重置超連結元素 */
/* line 66, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 71, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* 重置圖片元素 */
/* line 78, ../sass/_reset.scss */
img {
  vertical-align: middle;
  border: 0px;
}

/* line 83, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 88, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 96, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************
 reset OVER!
*********************/
/* line 32, ../sass/_color.scss */
.red {
  color: #F44336;
}

/* line 36, ../sass/_color.scss */
.yellow {
  color: #fdf5db;
}

/* line 40, ../sass/_color.scss */
.blue {
  color: #292c77;
}

/* line 61, ../sass/_color.scss */
.font-bold, .font-sub-to-big, .font-normal-to-big, .font-big-to-dbig {
  font-weight: bold;
}

/* line 65, ../sass/_color.scss */
.font-sub-to-big {
  font-size: 18px;
}

/* line 70, ../sass/_color.scss */
.font-normal-to-big {
  font-size: 21px;
}

/* line 75, ../sass/_color.scss */
.font-big-to-dbig {
  font-size: 25px;
}

/* line 1, ../sass/_module.scss */
.wrap, .background {
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/_module.scss */
.mainTitle > img, .section4-text > img, .cloud-col > img, .cloud-button {
  position: relative;
}

/* line 21, ../sass/_module.scss */
.display-block {
  display: block !important;
}

/****** 開始 navigation bar  **/
/* line 9, ../sass/_nav.scss */
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  transition: all 0.2s ease-in;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px black;
}
/* line 20, ../sass/_nav.scss */
.navbar > ul {
  float: right;
  text-align: center;
  padding: 0.8% 1% 1% 0px;
}
/* line 26, ../sass/_nav.scss */
.navbar:hover {
  background-color: white !important;
  box-shadow: 0px 1px 10px -2px;
}

/* line 31, ../sass/_nav.scss */
.navbar_li {
  float: left;
  color: #999999;
  transition: all 0.1s ease-out;
}
/* line 36, ../sass/_nav.scss */
.navbar_li:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.9);
  font-weight: bold;
}

/* line 44, ../sass/_nav.scss */
.navbar_li_a {
  display: block;
  color: #999999;
  font-size: 16px;
  padding: 3px 10px;
}
/* line 51, ../sass/_nav.scss */
.navbar_li_a > h2 {
  padding-bottom: 8px;
  color: #666666;
  font-size: 1.3em;
}
/* line 57, ../sass/_nav.scss */
.navbar_li_a > p {
  font-size: 0.9em;
}

/* line 62, ../sass/_nav.scss */
#sub-logo {
  position: absolute;
  top: -5px;
  height: 86px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
/* line 69, ../sass/_nav.scss */
#sub-logo:hover {
  transform: scale(0.9);
}

/* line 75, ../sass/_nav.scss */
.nav-small-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 81, ../sass/_nav.scss */
.nav-small-icon > .nav-small-rect {
  width: 40px;
  height: 7px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #999999;
  transition: all 0.1s ease-in;
}

/* line 92, ../sass/_nav.scss */
.nav-small-bar {
  display: none;
  margin: 20px 20px 0px 20px;
  height: 90%;
  overflow-y: scroll;
}

/* line 100, ../sass/_nav.scss */
.icon-h {
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
/* line 106, ../sass/_nav.scss */
.icon-h > .footer_icon {
  width: 60px;
  height: 61px;
}

/* line 112, ../sass/_nav.scss */
.back-black {
  width: 100%;
  height: 150%;
  display: none;
  top: -50%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

/* line 122, ../sass/_nav.scss */
#nav_aboutUs {
  background: url("../src/img/footer/aboutUs_blue.svg") no-repeat center;
  background-size: 100%;
}

/* line 127, ../sass/_nav.scss */
#nav_facebook {
  background: url("../src/img/footer/facebook_blue.svg") no-repeat center;
  background-size: 105%;
}

/********/
@media screen and (max-width: 1090px) {
  /* line 136, ../sass/_nav.scss */
  #sub-logo {
    top: -9px;
  }
}
@media screen and (max-width: 940px) {
  /* line 143, ../sass/_nav.scss */
  .navbar {
    height: -webkit-calc(2% + 36px);
    height: -moz-calc(2% + 36px);
    height: calc(2% + 36px);
    width: 8%;
    padding: 0px 5px 5px 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    border-bottom-left-radius: 15px;
  }
  /* line 156, ../sass/_nav.scss */
  .navbar > ul {
    display: none;
  }
  /* line 160, ../sass/_nav.scss */
  .navbar:hover {
    box-shadow: none;
  }

  /* line 165, ../sass/_nav.scss */
  .nav-small-icon {
    display: block;
  }

  /* line 169, ../sass/_nav.scss */
  #sub-logo {
    display: none;
  }

  /* line 173, ../sass/_nav.scss */
  .navbar_li {
    float: none;
    list-style: none;
  }
  /* line 176, ../sass/_nav.scss */
  .navbar_li > .navbar_li_a {
    font-size: 25px;
    padding: 15px 10px;
  }

  /* line 183, ../sass/_nav.scss */
  .nav-small-show {
    width: auto !important;
    height: 100%;
    border-top-left-radius: 10px;
  }
  /* line 188, ../sass/_nav.scss */
  .nav-small-show:hover {
    box-shadow: -5px 0px 15px 2px;
  }
}
@media screen and (max-width: 680px) {
  /* line 195, ../sass/_nav.scss */
  .nav-small-icon {
    right: 9px;
  }
}
@media screen and (max-width: 500px) {
  /* line 201, ../sass/_nav.scss */
  .navbar {
    width: 10%;
  }
}
@media screen and (max-width: 430px) {
  /* line 208, ../sass/_nav.scss */
  .navbar {
    width: 12%;
  }
}
@media screen and (max-width: 350px) {
  /* line 214, ../sass/_nav.scss */
  .navbar {
    width: 15%;
  }
}
@media screen and (max-width: 940px) and (max-height: 730px) {
  /* line 223, ../sass/_nav.scss */
  .navbar_li > .navbar_li_a {
    font-size: 20px;
    padding: 13px 10px;
  }
}
@media screen and (max-width: 940px) and (max-height: 650px) {
  /* line 233, ../sass/_nav.scss */
  .navbar_li > .navbar_li_a {
    font-size: 18px;
  }

  /* line 239, ../sass/_nav.scss */
  .icon-h > .footer_icon {
    width: 46px;
    height: 50px;
  }
}
/* line 7, ../sass/home2.scss */
.wrap {
  position: fixed;
}
/* line 11, ../sass/home2.scss */
.wrap > img {
  position: absolute;
}
/* line 15, ../sass/home2.scss */
.wrap > div {
  position: absolute;
}

/* line 23, ../sass/home2.scss */
.background > .horizontal {
  display: inline-flex;
  height: 100%;
}
/* line 27, ../sass/home2.scss */
.background img {
  height: 100%;
}

/* line 34, ../sass/home2.scss */
.mosquito-container {
  right: 9%;
  top: 13%;
  width: 9%;
  -moz-animation: top-down 0.6s linear infinite alternate;
  -webkit-animation: top-down 0.6s linear infinite alternate;
  animation: top-down 0.6s linear infinite alternate;
}

@-moz-keyframes top-down {
  0% {
    top: 13%;
  }
  100% {
    top: 15%;
  }
}
@-webkit-keyframes top-down {
  0% {
    top: 13%;
  }
  100% {
    top: 15%;
  }
}
@keyframes top-down {
  0% {
    top: 13%;
  }
  100% {
    top: 15%;
  }
}
/* line 51, ../sass/home2.scss */
.mosquito-container-animation-main {
  -moz-animation: mosquito-animation-main 2s linear infinite alternate;
  -webkit-animation: mosquito-animation-main 2s linear infinite alternate;
  animation: mosquito-animation-main 2s linear infinite alternate;
}

@-moz-keyframes mosquito-animation-main {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(3600deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes mosquito-animation-main {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(3600deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes mosquito-animation-main {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(3600deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
/* line 66, ../sass/home2.scss */
.mos-disappear {
  display: none !important;
}

/* line 70, ../sass/home2.scss */
.mos-after {
  width: 9%;
  opacity: 0;
}

/* line 75, ../sass/home2.scss */
.mos1 {
  right: 77%;
  top: 15%;
}

/* line 80, ../sass/home2.scss */
.mos2 {
  right: 82%;
  top: 50%;
}

/* line 85, ../sass/home2.scss */
.mos3 {
  right: 42%;
  top: 80%;
}

/* line 90, ../sass/home2.scss */
.mos4 {
  right: 7%;
  top: 76%;
}

/* line 96, ../sass/home2.scss */
.mos-after-animation-1 {
  -moz-animation: mos-after-animation-1 1s linear infinite alternate;
  -webkit-animation: mos-after-animation-1 1s linear infinite alternate;
  animation: mos-after-animation-1 1s linear infinite alternate;
}

@-moz-keyframes mos-after-animation-1 {
  0% {
    right: 77%;
    top: 15%;
    transform: scale(1);
  }
  35% {
    right: 57%;
    top: 80%;
    transform: scale(2);
  }
  50% {
    right: 5%;
    top: 90%;
    transform: scale(1);
  }
  85% {
    top: 20%;
    transform: scale(2);
  }
  100% {
    right: 77%;
    top: 15%;
    transform: scale(1);
  }
}
@-webkit-keyframes mos-after-animation-1 {
  0% {
    right: 77%;
    top: 15%;
    transform: scale(1);
  }
  35% {
    right: 57%;
    top: 80%;
    transform: scale(2);
  }
  50% {
    right: 5%;
    top: 90%;
    transform: scale(1);
  }
  85% {
    top: 20%;
    transform: scale(2);
  }
  100% {
    right: 77%;
    top: 15%;
    transform: scale(1);
  }
}
@keyframes mos-after-animation-1 {
  0% {
    right: 77%;
    top: 15%;
    transform: scale(1);
  }
  35% {
    right: 57%;
    top: 80%;
    transform: scale(2);
  }
  50% {
    right: 5%;
    top: 90%;
    transform: scale(1);
  }
  85% {
    top: 20%;
    transform: scale(2);
  }
  100% {
    right: 77%;
    top: 15%;
    transform: scale(1);
  }
}
/* line 127, ../sass/home2.scss */
.mos-after-animation-2 {
  -moz-animation: mos-after-animation-2 1s linear infinite alternate;
  -webkit-animation: mos-after-animation-2 1s linear infinite alternate;
  animation: mos-after-animation-2 1s linear infinite alternate;
}

@-moz-keyframes mos-after-animation-2 {
  0% {
    right: 82%;
    top: 50%;
    transform: scale(1);
  }
  25% {
    right: 5%;
    top: 90%;
    transform: scale(2);
  }
  50% {
    right: 30%;
    top: 20%;
    transform: scale(1);
  }
  75% {
    right: 62%;
    top: 10%;
    transform: scale(2);
  }
  100% {
    right: 82%;
    top: 50%;
    transform: scale(1);
  }
}
@-webkit-keyframes mos-after-animation-2 {
  0% {
    right: 82%;
    top: 50%;
    transform: scale(1);
  }
  25% {
    right: 5%;
    top: 90%;
    transform: scale(2);
  }
  50% {
    right: 30%;
    top: 20%;
    transform: scale(1);
  }
  75% {
    right: 62%;
    top: 10%;
    transform: scale(2);
  }
  100% {
    right: 82%;
    top: 50%;
    transform: scale(1);
  }
}
@keyframes mos-after-animation-2 {
  0% {
    right: 82%;
    top: 50%;
    transform: scale(1);
  }
  25% {
    right: 5%;
    top: 90%;
    transform: scale(2);
  }
  50% {
    right: 30%;
    top: 20%;
    transform: scale(1);
  }
  75% {
    right: 62%;
    top: 10%;
    transform: scale(2);
  }
  100% {
    right: 82%;
    top: 50%;
    transform: scale(1);
  }
}
/* line 159, ../sass/home2.scss */
.mos-after-animation-3 {
  -moz-animation: mos-after-animation-3 1s linear infinite alternate;
  -webkit-animation: mos-after-animation-3 1s linear infinite alternate;
  animation: mos-after-animation-3 1s linear infinite alternate;
}

@-moz-keyframes mos-after-animation-3 {
  0% {
    right: 42%;
    top: 80%;
    transform: scale(1);
  }
  15% {
    right: 80%;
    top: 60%;
    transform: scale(2);
  }
  50% {
    right: 40%;
    top: 28%;
    transform: scale(1);
  }
  60% {
    right: 20%;
    top: 59%;
    transform: scale(1);
  }
  85% {
    right: 6%;
    top: 90%;
    transform: scale(2);
  }
  100% {
    right: 42%;
    top: 80%;
    transform: scale(1);
  }
}
@-webkit-keyframes mos-after-animation-3 {
  0% {
    right: 42%;
    top: 80%;
    transform: scale(1);
  }
  15% {
    right: 80%;
    top: 60%;
    transform: scale(2);
  }
  50% {
    right: 40%;
    top: 28%;
    transform: scale(1);
  }
  60% {
    right: 20%;
    top: 59%;
    transform: scale(1);
  }
  85% {
    right: 6%;
    top: 90%;
    transform: scale(2);
  }
  100% {
    right: 42%;
    top: 80%;
    transform: scale(1);
  }
}
@keyframes mos-after-animation-3 {
  0% {
    right: 42%;
    top: 80%;
    transform: scale(1);
  }
  15% {
    right: 80%;
    top: 60%;
    transform: scale(2);
  }
  50% {
    right: 40%;
    top: 28%;
    transform: scale(1);
  }
  60% {
    right: 20%;
    top: 59%;
    transform: scale(1);
  }
  85% {
    right: 6%;
    top: 90%;
    transform: scale(2);
  }
  100% {
    right: 42%;
    top: 80%;
    transform: scale(1);
  }
}
/* line 196, ../sass/home2.scss */
.mos-after-animation-4 {
  -moz-animation: mos-after-animation-4 2s linear infinite alternate;
  -webkit-animation: mos-after-animation-4 2s linear infinite alternate;
  animation: mos-after-animation-4 2s linear infinite alternate;
}

@-moz-keyframes mos-after-animation-4 {
  0% {
    right: 7%;
    top: 76%;
  }
  15% {
    right: 79%;
    top: 19%;
  }
  30% {
    right: 70%;
    top: 75%;
  }
  45% {
    right: 5%;
    top: 10%;
  }
  60% {
    right: 30%;
    top: 40%;
  }
  75% {
    right: 65%;
    top: 45%;
  }
  86% {
    right: 45%;
    top: 50%;
  }
  93% {
    right: 40%;
    top: 25%;
  }
  100% {
    right: 7%;
    top: 76%;
  }
}
@-webkit-keyframes mos-after-animation-4 {
  0% {
    right: 7%;
    top: 76%;
  }
  15% {
    right: 79%;
    top: 19%;
  }
  30% {
    right: 70%;
    top: 75%;
  }
  45% {
    right: 5%;
    top: 10%;
  }
  60% {
    right: 30%;
    top: 40%;
  }
  75% {
    right: 65%;
    top: 45%;
  }
  86% {
    right: 45%;
    top: 50%;
  }
  93% {
    right: 40%;
    top: 25%;
  }
  100% {
    right: 7%;
    top: 76%;
  }
}
@keyframes mos-after-animation-4 {
  0% {
    right: 7%;
    top: 76%;
  }
  15% {
    right: 79%;
    top: 19%;
  }
  30% {
    right: 70%;
    top: 75%;
  }
  45% {
    right: 5%;
    top: 10%;
  }
  60% {
    right: 30%;
    top: 40%;
  }
  75% {
    right: 65%;
    top: 45%;
  }
  86% {
    right: 45%;
    top: 50%;
  }
  93% {
    right: 40%;
    top: 25%;
  }
  100% {
    right: 7%;
    top: 76%;
  }
}
/* line 239, ../sass/home2.scss */
#mosquito {
  background: url("../src/img/1-mosquito-all.png") repeat no-repeat;
  width: 50px;
  height: 64px;
  -moz-animation: mosquito-fly 0.4s steps(3) infinite;
  -webkit-animation: mosquito-fly 0.4s steps(3) infinite;
  animation: mosquito-fly 0.4s steps(3) infinite;
}

@-moz-keyframes mosquito-fly {
  to {
    background-position-x: -150px;
  }
}
@-webkit-keyframes mosquito-fly {
  to {
    background-position-x: -150px;
  }
}
@keyframes mosquito-fly {
  to {
    background-position-x: -150px;
  }
}
/* line 252, ../sass/home2.scss */
.mainTitle {
  width: 45%;
  left: 40%;
  top: 23%;
}
/* line 261, ../sass/home2.scss */
.mainTitle > .logo-title {
  width: 100%;
  cursor: pointer;
  z-index: 20;
}
/* line 266, ../sass/home2.scss */
.mainTitle > .logo-title:hover {
  -moz-animation: section1-animation 0.2s linear 2 forwards;
  -webkit-animation: section1-animation 0.2s linear 2 forwards;
  animation: section1-animation 0.2s linear 2 forwards;
}
/* line 271, ../sass/home2.scss */
.mainTitle > .section1-text {
  position: absolute;
  width: 80%;
  bottom: 0%;
  left: -24%;
  z-index: 21;
}

/* line 281, ../sass/home2.scss */
.logo-title-animation {
  -moz-animation: section1-animation 0.2s linear infinite;
  -webkit-animation: section1-animation 0.2s linear infinite;
  animation: section1-animation 0.2s linear infinite;
}

@-moz-keyframes section1-animation {
  10% {
    transform: translate(-1px, 5px) rotate(-1.5deg);
    opacity: 0.99;
  }
  20% {
    transform: translate(-2px, -1px) rotate(0.5deg);
    opacity: 0.38;
  }
  30% {
    transform: translate(1px, -4px) rotate(0.5deg);
    opacity: 0.34;
  }
  40% {
    transform: translate(1px, -4px) rotate(2.5deg);
    opacity: 0.24;
  }
  50% {
    transform: translate(1px, -2px) rotate(0.5deg);
    opacity: 0.55;
  }
  60% {
    transform: translate(2px, 1px) rotate(-0.5deg);
    opacity: 0.72;
  }
  70% {
    transform: translate(-3px, 5px) rotate(0.5deg);
    opacity: 0.26;
  }
  80% {
    transform: translate(4px, 3px) rotate(2.5deg);
    opacity: 0.7;
  }
  90% {
    transform: translate(0px, 3px) rotate(-1.5deg);
    opacity: 0.32;
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes section1-animation {
  10% {
    transform: translate(-1px, 5px) rotate(-1.5deg);
    opacity: 0.99;
  }
  20% {
    transform: translate(-2px, -1px) rotate(0.5deg);
    opacity: 0.38;
  }
  30% {
    transform: translate(1px, -4px) rotate(0.5deg);
    opacity: 0.34;
  }
  40% {
    transform: translate(1px, -4px) rotate(2.5deg);
    opacity: 0.24;
  }
  50% {
    transform: translate(1px, -2px) rotate(0.5deg);
    opacity: 0.55;
  }
  60% {
    transform: translate(2px, 1px) rotate(-0.5deg);
    opacity: 0.72;
  }
  70% {
    transform: translate(-3px, 5px) rotate(0.5deg);
    opacity: 0.26;
  }
  80% {
    transform: translate(4px, 3px) rotate(2.5deg);
    opacity: 0.7;
  }
  90% {
    transform: translate(0px, 3px) rotate(-1.5deg);
    opacity: 0.32;
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes section1-animation {
  10% {
    transform: translate(-1px, 5px) rotate(-1.5deg);
    opacity: 0.99;
  }
  20% {
    transform: translate(-2px, -1px) rotate(0.5deg);
    opacity: 0.38;
  }
  30% {
    transform: translate(1px, -4px) rotate(0.5deg);
    opacity: 0.34;
  }
  40% {
    transform: translate(1px, -4px) rotate(2.5deg);
    opacity: 0.24;
  }
  50% {
    transform: translate(1px, -2px) rotate(0.5deg);
    opacity: 0.55;
  }
  60% {
    transform: translate(2px, 1px) rotate(-0.5deg);
    opacity: 0.72;
  }
  70% {
    transform: translate(-3px, 5px) rotate(0.5deg);
    opacity: 0.26;
  }
  80% {
    transform: translate(4px, 3px) rotate(2.5deg);
    opacity: 0.7;
  }
  90% {
    transform: translate(0px, 3px) rotate(-1.5deg);
    opacity: 0.32;
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
/* line 317, ../sass/home2.scss */
#mosss {
  top: 11%;
  left: -50%;
  width: 34%;
}

/* line 327, ../sass/home2.scss */
#section2-text {
  top: 43%;
  left: -100%;
  width: 45%;
  display: none;
}

/* line 334, ../sass/home2.scss */
#bottle {
  bottom: -100%;
  width: 70%;
  left: 5%;
}

/* line 340, ../sass/home2.scss */
#bottle-2 {
  width: 50%;
  bottom: -100%;
  left: 50%;
}

/* line 349, ../sass/home2.scss */
#tsunami {
  width: 100%;
  bottom: -100%;
}

/* line 354, ../sass/home2.scss */
#section3-text {
  top: 19%;
  left: 11%;
  width: 45%;
  opacity: 0;
}

/* line 361, ../sass/home2.scss */
.bone {
  bottom: -100%;
  width: 80%;
}

/* line 366, ../sass/home2.scss */
#bone1 {
  left: 5%;
}

/* line 373, ../sass/home2.scss */
#theMosquitoMan {
  width: 5%;
  left: 50%;
  bottom: 30%;
  opacity: 0;
}

/* line 380, ../sass/home2.scss */
.section4-text {
  width: 45%;
  bottom: 62%;
  left: 15%;
  opacity: 0;
}
/* line 390, ../sass/home2.scss */
.section4-text > #section4-text_1 {
  width: 100%;
}
/* line 394, ../sass/home2.scss */
.section4-text > #section4-text_2 {
  width: 60%;
  left: 50%;
  opacity: 0;
}

/* line 401, ../sass/home2.scss */
.cloud {
  left: 13%;
  width: 100%;
  height: 80%;
  display: none;
  opacity: 0;
  -moz-animation: cloud-move 300s linear infinite forwards;
  -webkit-animation: cloud-move 300s linear infinite forwards;
  animation: cloud-move 300s linear infinite forwards;
}

/* line 412, ../sass/home2.scss */
.cloud-move {
  -moz-animation: cloud-move 300s linear forwards;
  -webkit-animation: cloud-move 300s linear forwards;
  animation: cloud-move 300s linear forwards;
}

@-moz-keyframes cloud-move {
  0% {
    left: 10%;
  }
  100% {
    left: -80%;
  }
}
@-webkit-keyframes cloud-move {
  0% {
    left: 10%;
  }
  100% {
    left: -80%;
  }
}
@keyframes cloud-move {
  0% {
    left: 10%;
  }
  100% {
    left: -80%;
  }
}
/* line 425, ../sass/home2.scss */
.cloud-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
/* line 430, ../sass/home2.scss */
.cloud-col > img {
  width: 40%;
}
/* line 437, ../sass/home2.scss */
.cloud-col > .cloud02 {
  left: -10%;
  top: -5%;
}
/* line 441, ../sass/home2.scss */
.cloud-col > .cloud03 {
  left: 30%;
}
/* line 445, ../sass/home2.scss */
.cloud-col > .cloud04 {
  top: 25%;
  left: -10%;
}
/* line 449, ../sass/home2.scss */
.cloud-col > .cloud05 {
  top: -7%;
  left: 30%;
}
/* line 453, ../sass/home2.scss */
.cloud-col > .cloud06 {
  left: 50%;
}
/* line 456, ../sass/home2.scss */
.cloud-col > .cloud07 {
  left: 20%;
}
/* line 460, ../sass/home2.scss */
.cloud-col > .cloud-button_1 {
  top: 25%;
  left: -10%;
  cursor: pointer;
}
/* line 466, ../sass/home2.scss */
.cloud-col > .cloud-button_2 {
  left: 20%;
  cursor: pointer;
}

/* line 472, ../sass/home2.scss */
.cloud-button {
  width: 40%;
}
/* line 476, ../sass/home2.scss */
.cloud-button > p {
  opacity: 0;
  color: #575555;
  left: 20%;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  border-radius: 20%;
  background-color: rgba(255, 235, 59, 0.2);
  box-shadow: 0px 0px 7px 7px rgba(255, 235, 59, 0.1);
  cursor: pointer;
}
/* line 490, ../sass/home2.scss */
.cloud-button > #button-p_2 {
  top: 10px;
  left: 15%;
}

/* line 499, ../sass/home2.scss */
.man-run-container {
  bottom: 35%;
  left: -30%;
  display: none;
}

/* line 506, ../sass/home2.scss */
.man-run-container-animation {
  -moz-animation: run 8s linear infinite forwards;
  -webkit-animation: run 8s linear infinite forwards;
  animation: run 8s linear infinite forwards;
}

@-moz-keyframes run {
  0% {
    left: -8%;
    bottom: 35%;
  }
  10% {
    bottom: 40%;
    left: 6%;
  }
  25% {
    bottom: 27%;
    left: 20%;
  }
  55% {
    left: 50%;
    bottom: 22%;
  }
  70% {
    bottom: 28%;
    left: 65%;
  }
  80% {
    bottom: 7%;
    left: 75%;
  }
  100% {
    bottom: 5%;
    left: 150%;
  }
}
@-webkit-keyframes run {
  0% {
    left: -8%;
    bottom: 35%;
  }
  10% {
    bottom: 40%;
    left: 6%;
  }
  25% {
    bottom: 27%;
    left: 20%;
  }
  55% {
    left: 50%;
    bottom: 22%;
  }
  70% {
    bottom: 28%;
    left: 65%;
  }
  80% {
    bottom: 7%;
    left: 75%;
  }
  100% {
    bottom: 5%;
    left: 150%;
  }
}
@keyframes run {
  0% {
    left: -8%;
    bottom: 35%;
  }
  10% {
    bottom: 40%;
    left: 6%;
  }
  25% {
    bottom: 27%;
    left: 20%;
  }
  55% {
    left: 50%;
    bottom: 22%;
  }
  70% {
    bottom: 28%;
    left: 65%;
  }
  80% {
    bottom: 7%;
    left: 75%;
  }
  100% {
    bottom: 5%;
    left: 150%;
  }
}
/* line 541, ../sass/home2.scss */
.man-run {
  position: relative;
  background: url("../src/img/5-run-all.png") no-repeat right;
  width: 214px;
  height: 91px;
  -moz-animation: man-run 0.5s steps(9) infinite;
  -webkit-animation: man-run 0.5s steps(9) infinite;
  animation: man-run 0.5s steps(9) infinite;
}

@-moz-keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@-webkit-keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@media screen and (max-width: 900px) {
  /* line 561, ../sass/home2.scss */
  #mosquito {
    top: 9%;
  }

  /* line 564, ../sass/home2.scss */
  #logo-title {
    top: 18%;
  }
}
@media screen and (max-width: 768px) {
  /* line 570, ../sass/home2.scss */
  #mosquito {
    top: 6%;
  }

  /* line 573, ../sass/home2.scss */
  #logo-title {
    top: 10%;
  }
}
