body , html , div , p  , img , a , h1 , h2 , h3 ,ul ,li{
	margin:0;
	padding: 0;
}

#wrap{
	width:100vw;
	background-color: white;
}

.section{
	overflow:hidden;
	height:100vh;
	width: 100vw;
}

.section > img ,svg ,object{
	position: absolute;
}

/***** section1 ******/

.section-1{
	background: white url('../src/img/wrap/背景.png') no-repeat bottom;
	background-size: 100vw auto;	
}

#img_hand{
	width:45vw;
	bottom:0px;
}

#img_text{
	left:45vw;
	top:21%;
	width: 45vw;
	cursor: pointer;
}

#img_mosquito {
	top:15%; left:85%; width:4%;

 /* animation: 2.5s mosquito ease-out 1 forwards;*/
}

@keyframes mosquito{
	15%{ top:28%; }
	20%{ top:10%; }
	40%{ top:25%; width:6%; }
	100%{ top:15%; left:85%; width:4%;}
}

/***** section2 *********/
.section-2{
	background:white url('../src/img/2/background2.png') no-repeat bottom;
	background-size: 100vw auto;
}

#mosss{
	position: relative;
	left:5%;
	top:25%;
	width:27%;
}

#bottle{
	width:77%;
	right:0px;
	bottom:-100%;
}

/***** section3 *********/
.section-3{
	background:white url('../src/img/3/background3.png') no-repeat bottom;
	background-size: 100vw auto;
}

#superman{
	width:62%;
	bottom:-194vh;
	left:3%;
}

/***** section4 *********/
.section-4{
	background:white url('../src/img/4/background4.png') no-repeat bottom ;
	background-size: 100vw auto ;
}

#person{
	width:3%;
	left:43%;
	top:354vh;
}

.cloud{
	background: url('../src/img/4/cloud.png') repeat no-repeat top;
	background-size: 100vw auto ;
	height: 100vh;
}

.cloud-move#cloud-1{
	animation: 180s cloud_move linear forwards infinite;
}

@keyframes cloud_move{
	to{ background-position: -100vw 0%; }
}

/***** section5 *********/
.section-5{
	background:white url('../src/img/5/background5.png') no-repeat bottom;
	background-size: 100vw auto;
}

.cloud#cloud-2{
	background-image: url('../src/img/5/cloud-2.png') !important;
}

.cloud-move#cloud-2{
	animation:120s cloud_move linear forwards infinite;
}

#person_run{
	width:13%;
	left:0%;
	top:449vh;
}

/****** 開始 navigation bar  **/
#img-logo , .navbar{
	position: fixed;
}

#img-logo{
	left: 1em;
	top:0.7em;
	width:10vw;
}

.logo-show#img-logo{
	display: block !important;
	animation: img-logo-show 0.1s ease-out forwards;
}

@keyframes img-logo-show{
	from{ transform: scale(0); }
	to { transform: scale(1); }
}

.navbar{
	top:0px;
	right:0px;

	list-style-type: none;
	text-align: center;
	margin: 0.4em 1% 0px 0px;
}

.navbar > .navbar_li{
	display: inline;
	float: left;
	color:#999999;

	transition: all 0.1s ease-out;
}

.navbar_li > a.navbar_a{
	cursor: pointer;
	display: block;

	color:currentColor;
	text-decoration: none;
  padding:0.5em 0.7em;
}

.navbar_li:hover {
	opacity: 0.7;
	transform: scale(0.9);
	font-weight: bold;
}

a.navbar_a > h2{
	margin-bottom: 5%;
	font-size: 1.3em;
	color:#666666;
}

a.navbar_a > p{
	font-size: 0.9em;
}


/********/

@media screen and (min-width:1600px) {
	#img_text{
		top:19%;
	}

	.navbar { margin-top: 1em; }

	.navbar_li > a{
		padding: 1.5em 1em 1em 1em ;
	}
	a > h2 {
		margin-bottom: 5px;
	}

	#person_run{
		top:446vh;
	}
}