@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/_reset.scss */
body,
html,
div,
p,
img,
a,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* img elements 圖片元素 */
  border: medium none;
  vertical-align: baseline;
  background: transparent;
}

/* line 32, ../sass/_reset.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 42, ../sass/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

/* line 51, ../sass/_reset.scss */
em {
  font-style: normal;
}

/* 重置清單元素 */
/* line 58, ../sass/_reset.scss */
ul,
ol {
  list-style: none;
}

/* 重置超連結元素 */
/* line 66, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 71, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* 重置圖片元素 */
/* line 78, ../sass/_reset.scss */
img {
  vertical-align: middle;
  border: 0px;
}

/* line 83, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 88, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 96, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************
 reset OVER!
*********************/
/* line 32, ../sass/_color.scss */
.red {
  color: #F44336;
}

/* line 36, ../sass/_color.scss */
.yellow {
  color: #fdf5db;
}

/* line 40, ../sass/_color.scss */
.blue {
  color: #292c77;
}

/* line 61, ../sass/_color.scss */
.font-bold, .font-sub-to-big, .font-normal-to-big, .font-big-to-dbig {
  font-weight: bold;
}

/* line 65, ../sass/_color.scss */
.font-sub-to-big {
  font-size: 18px;
}

/* line 70, ../sass/_color.scss */
.font-normal-to-big {
  font-size: 21px;
}

/* line 75, ../sass/_color.scss */
.font-big-to-dbig {
  font-size: 25px;
}

/* line 6, ../sass/_module.scss */
.mainTitleBox > .leftBar, .whats-dengue-text, .how-can-do, .svgYa, .section2-top, .section2-top > #section2-mainTitle, .section3-top, .section3-horizon, .section3-horizon > .section3-h-right {
  position: relative;
}

/* line 10, ../sass/_module.scss */
.whats-dengue-text > .topic-title {
  display: flex;
  align-items: center;
}

/* line 15, ../sass/_module.scss */
#button_killMosquito, .section3-horizon > .section3-h-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 21, ../sass/_module.scss */
.display-block {
  display: block !important;
}

/****** 開始 navigation bar  **/
/* line 9, ../sass/_nav.scss */
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  transition: all 0.2s ease-in;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px black;
}
/* line 20, ../sass/_nav.scss */
.navbar > ul {
  float: right;
  text-align: center;
  padding: 0.8% 1% 1% 0px;
}
/* line 26, ../sass/_nav.scss */
.navbar:hover {
  background-color: white !important;
  box-shadow: 0px 1px 10px -2px;
}

/* line 31, ../sass/_nav.scss */
.navbar_li {
  float: left;
  color: #999999;
  transition: all 0.1s ease-out;
}
/* line 36, ../sass/_nav.scss */
.navbar_li:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.9);
  font-weight: bold;
}

/* line 44, ../sass/_nav.scss */
.navbar_li_a {
  display: block;
  color: #999999;
  font-size: 16px;
  padding: 3px 10px;
}
/* line 51, ../sass/_nav.scss */
.navbar_li_a > h2 {
  padding-bottom: 8px;
  color: #666666;
  font-size: 1.3em;
}
/* line 57, ../sass/_nav.scss */
.navbar_li_a > p {
  font-size: 0.9em;
}

/* line 62, ../sass/_nav.scss */
#sub-logo {
  position: absolute;
  top: -5px;
  height: 86px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
/* line 69, ../sass/_nav.scss */
#sub-logo:hover {
  transform: scale(0.9);
}

/* line 75, ../sass/_nav.scss */
.nav-small-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 81, ../sass/_nav.scss */
.nav-small-icon > .nav-small-rect {
  width: 40px;
  height: 7px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #999999;
  transition: all 0.1s ease-in;
}

/* line 92, ../sass/_nav.scss */
.nav-small-bar {
  display: none;
  margin: 20px 20px 0px 20px;
  height: 90%;
  overflow-y: scroll;
}

/* line 100, ../sass/_nav.scss */
.icon-h {
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
/* line 106, ../sass/_nav.scss */
.icon-h > .footer_icon {
  width: 60px;
  height: 61px;
}

/* line 112, ../sass/_nav.scss */
.back-black {
  width: 100%;
  height: 150%;
  display: none;
  top: -50%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

/* line 122, ../sass/_nav.scss */
#nav_aboutUs {
  background: url("../src/img/footer/aboutUs_blue.svg") no-repeat center;
  background-size: 100%;
}

/* line 127, ../sass/_nav.scss */
#nav_facebook {
  background: url("../src/img/footer/facebook_blue.svg") no-repeat center;
  background-size: 105%;
}

/********/
@media screen and (max-width: 1090px) {
  /* line 136, ../sass/_nav.scss */
  #sub-logo {
    top: -9px;
  }
}
@media screen and (max-width: 940px) {
  /* line 143, ../sass/_nav.scss */
  .navbar {
    height: -webkit-calc(2% + 36px);
    height: -moz-calc(2% + 36px);
    height: calc(2% + 36px);
    width: 8%;
    padding: 0px 5px 5px 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    border-bottom-left-radius: 15px;
  }
  /* line 156, ../sass/_nav.scss */
  .navbar > ul {
    display: none;
  }
  /* line 160, ../sass/_nav.scss */
  .navbar:hover {
    box-shadow: none;
  }

  /* line 165, ../sass/_nav.scss */
  .nav-small-icon {
    display: block;
  }

  /* line 169, ../sass/_nav.scss */
  #sub-logo {
    display: none;
  }

  /* line 173, ../sass/_nav.scss */
  .navbar_li {
    float: none;
    list-style: none;
  }
  /* line 176, ../sass/_nav.scss */
  .navbar_li > .navbar_li_a {
    font-size: 25px;
    padding: 15px 10px;
  }

  /* line 183, ../sass/_nav.scss */
  .nav-small-show {
    width: auto !important;
    height: 100%;
    border-top-left-radius: 10px;
  }
  /* line 188, ../sass/_nav.scss */
  .nav-small-show:hover {
    box-shadow: -5px 0px 15px 2px;
  }
}
@media screen and (max-width: 680px) {
  /* line 195, ../sass/_nav.scss */
  .nav-small-icon {
    right: 9px;
  }
}
@media screen and (max-width: 500px) {
  /* line 201, ../sass/_nav.scss */
  .navbar {
    width: 10%;
  }
}
@media screen and (max-width: 430px) {
  /* line 208, ../sass/_nav.scss */
  .navbar {
    width: 12%;
  }
}
@media screen and (max-width: 350px) {
  /* line 214, ../sass/_nav.scss */
  .navbar {
    width: 15%;
  }
}
@media screen and (max-width: 940px) and (max-height: 730px) {
  /* line 223, ../sass/_nav.scss */
  .navbar_li > .navbar_li_a {
    font-size: 20px;
    padding: 13px 10px;
  }
}
@media screen and (max-width: 940px) and (max-height: 650px) {
  /* line 233, ../sass/_nav.scss */
  .navbar_li > .navbar_li_a {
    font-size: 18px;
  }

  /* line 239, ../sass/_nav.scss */
  .icon-h > .footer_icon {
    width: 46px;
    height: 50px;
  }
}
/* line 1, ../sass/_footer.scss */
.footer {
  width: 100%;
  height: 14%;
  position: relative;
  background-color: #292c77;
}
/* line 7, ../sass/_footer.scss */
.footer > p {
  position: relative;
  margin-left: 10%;
  color: white;
  top: 33%;
  font-size: 13px;
}
/* line 15, ../sass/_footer.scss */
.footer span {
  font-size: 16px;
}
/* line 19, ../sass/_footer.scss */
.footer > li {
  width: 60px;
  height: 60px;
  list-style: none;
  float: right;
  position: relative;
  top: 6%;
}

/* line 28, ../sass/_footer.scss */
#aboutUs {
  margin-right: 10px;
  background: url("../src/img/footer/aboutUs.svg") no-repeat center;
  background-size: 100%;
}

/* line 34, ../sass/_footer.scss */
#facebook {
  margin-right: 10%;
  background: url("../src/img/footer/facebook.svg") no-repeat center;
  background-size: 115%;
}

@media screen and (max-width: 940px) {
  /* line 41, ../sass/_footer.scss */
  .footer {
    display: none;
  }
}
/* line 4, ../sass/_mainTitleBox.scss */
.mainTitleBox {
  display: inline-flex;
  z-index: 2;
  align-items: center;
  padding-left: 8%;
  color: #292c77;
  font-size: 42px;
}
/* line 13, ../sass/_mainTitleBox.scss */
.mainTitleBox > .leftBar {
  width: 15px;
  height: 45px;
  background-color: rgba(41, 44, 119, 0.6);
  top: -5px;
}
/* line 21, ../sass/_mainTitleBox.scss */
.mainTitleBox > h1 {
  padding-left: 10px;
}

/* line 6, ../sass/knowledge.scss */
body {
  background-color: #ceeae1;
}

/* line 13, ../sass/knowledge.scss */
.title-bar {
  width: 190px;
  height: 50px;
  background-color: #fdf5db;
  margin-top: 7%;
  padding-left: 8%;
}
/* line 18, ../sass/knowledge.scss */
.title-bar > h1 {
  letter-spacing: 5px;
  font-size: 42px;
  color: #292c77;
  padding-top: 20px;
}

/* line 27, ../sass/knowledge.scss */
.whats-dengue-text {
  width: 55%;
  top: 10%;
  background-color: #292c77;
  z-index: 2;
  margin: 0px 8% 0px 8%;
  padding: 10px 0px;
  color: white;
}
/* line 39, ../sass/knowledge.scss */
.whats-dengue-text > .topic-title {
  padding: 30px 10px 30px 30px;
  font-size: 40px;
}
/* line 46, ../sass/knowledge.scss */
.whats-dengue-text p {
  font-size: 18px;
  width: 82%;
  font-weight: 100;
  line-height: 25px;
  padding: 0px 10px 20px 60px;
}
/* line 53, ../sass/knowledge.scss */
.whats-dengue-text p > .inc_int {
  line-height: 38px;
  font-size: 30px;
  color: #fdf5db;
}

/* line 61, ../sass/knowledge.scss */
.section1-bot {
  padding: 10px;
  z-index: -1;
  background-color: #fdf5db;
}

/* line 67, ../sass/knowledge.scss */
.how-can-do {
  top: -80px;
  width: 30%;
  text-align: center;
  margin-left: 66%;
}
/* line 74, ../sass/knowledge.scss */
.how-can-do > .section1-text {
  color: #292c77;
  font-size: 38px;
}

/* line 80, ../sass/knowledge.scss */
.svgYa {
  right: 10%;
  z-index: 2;
  width: 300px;
  height: 140px;
}
/* line 88, ../sass/knowledge.scss */
.svgYa > rect, .svgYa polygon {
  fill: #292c77;
  margin-top: 2px;
}

/* line 94, ../sass/knowledge.scss */
#rect1 {
  -moz-animation: twinkling 4s steps(4) 0s infinite;
  -webkit-animation: twinkling 4s steps(4) 0s infinite;
  animation: twinkling 4s steps(4) 0s infinite;
}

/* line 98, ../sass/knowledge.scss */
#rect2 {
  -moz-animation: twinkling 4s steps(4) 0.25s infinite;
  -webkit-animation: twinkling 4s steps(4) 0.25s infinite;
  animation: twinkling 4s steps(4) 0.25s infinite;
}

/* line 102, ../sass/knowledge.scss */
#rect3 {
  -moz-animation: twinkling 4s steps(4) 0.5s infinite;
  -webkit-animation: twinkling 4s steps(4) 0.5s infinite;
  animation: twinkling 4s steps(4) 0.5s infinite;
}

/* line 106, ../sass/knowledge.scss */
#rect4 {
  -moz-animation: twinkling 4s steps(4) 0.75s infinite;
  -webkit-animation: twinkling 4s steps(4) 0.75s infinite;
  animation: twinkling 4s steps(4) 0.75s infinite;
}

/* line 110, ../sass/knowledge.scss */
#rect5 {
  -moz-animation: twinkling 4s steps(4) 1s infinite;
  -webkit-animation: twinkling 4s steps(4) 1s infinite;
  animation: twinkling 4s steps(4) 1s infinite;
}

/* line 114, ../sass/knowledge.scss */
#rect6 {
  -moz-animation: twinkling 4s steps(4) 1.25s infinite;
  -webkit-animation: twinkling 4s steps(4) 1.25s infinite;
  animation: twinkling 4s steps(4) 1.25s infinite;
}

/* line 118, ../sass/knowledge.scss */
#rect7 {
  -moz-animation: twinkling 4s steps(4) 1.5s infinite;
  -webkit-animation: twinkling 4s steps(4) 1.5s infinite;
  animation: twinkling 4s steps(4) 1.5s infinite;
}

/* line 122, ../sass/knowledge.scss */
#triangle8 {
  -moz-animation: twinkling 4s steps(4) 1.75s infinite;
  -webkit-animation: twinkling 4s steps(4) 1.75s infinite;
  animation: twinkling 4s steps(4) 1.75s infinite;
}

@-moz-keyframes twinkling {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes twinkling {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twinkling {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* line 142, ../sass/knowledge.scss */
#button_killMosquito {
  width: 70%;
  height: 65px;
  margin: auto;
  background-color: #F44336;
  border-radius: 15px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 33px;
  color: #fdf5db;
  transition: all 0.1s ease-in;
}
/* line 157, ../sass/knowledge.scss */
#button_killMosquito:hover {
  -moz-animation: bling 0.8s ease-in-out 0s infinite alternate;
  -webkit-animation: bling 0.8s ease-in-out 0s infinite alternate;
  animation: bling 0.8s ease-in-out 0s infinite alternate;
  transform: scale(0.9);
  cursor: pointer;
}

@-moz-keyframes bling {
  0% {
    box-shadow: 0 0 5px 2px rgba(92, 95, 99, 0.7);
  }
  100% {
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.3), 0 0 13px 5px #ceeae1;
  }
}
@-webkit-keyframes bling {
  0% {
    box-shadow: 0 0 5px 2px rgba(92, 95, 99, 0.7);
  }
  100% {
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.3), 0 0 13px 5px #ceeae1;
  }
}
@keyframes bling {
  0% {
    box-shadow: 0 0 5px 2px rgba(92, 95, 99, 0.7);
  }
  100% {
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.3), 0 0 13px 5px #ceeae1;
  }
}
/* line 178, ../sass/knowledge.scss */
.section2-top {
  width: 100%;
  background-color: #fdf5db;
}
/* line 183, ../sass/knowledge.scss */
.section2-top > #section2-mainTitle {
  margin-top: 10%;
  bottom: -20px;
}

/* line 191, ../sass/knowledge.scss */
.man-run {
  background: url("../src/img/5-run-all.png") no-repeat right;
  width: 214px;
  height: 91px;
  -moz-animation: man-run 0.5s steps(9) infinite;
  -webkit-animation: man-run 0.5s steps(9) infinite;
  animation: man-run 0.5s steps(9) infinite;
}

@-moz-keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@-webkit-keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
@keyframes man-run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1926px;
  }
}
/* line 207, ../sass/knowledge.scss */
.man-run-container-animation {
  bottom: 0px;
  left: 50%;
  position: absolute;
  -moz-animation: run 8s linear infinite;
  -webkit-animation: run 8s linear infinite;
  animation: run 8s linear infinite;
}

@-moz-keyframes run {
  from {
    opacity: 1;
    left: 30%;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes run {
  from {
    opacity: 1;
    left: 30%;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes run {
  from {
    opacity: 1;
    left: 30%;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 0;
  }
}
/* line 232, ../sass/knowledge.scss */
.section2-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ceeae1;
}
/* line 238, ../sass/knowledge.scss */
.section2-bot > .section2-bot-subText {
  width: 46%;
  padding: 50px 0px 60px 10%;
  color: #666666;
  line-height: 23px;
  font-size: 15px;
}
/* line 246, ../sass/knowledge.scss */
.section2-bot > .section2-bot-subText > p {
  margin-bottom: 10px;
}

/* line 252, ../sass/knowledge.scss */
.section2-bot-horizon {
  display: inline-flex;
  justify-content: center;
  color: #292c77;
}
/* line 257, ../sass/knowledge.scss */
.section2-bot-horizon > .section2-box {
  width: 30%;
  height: auto;
  margin: 10px;
  display: inline-flex;
  background-color: #292c77;
}

/* line 266, ../sass/knowledge.scss */
.box-mosquito {
  width: 50%;
  position: relative;
  top: -20px;
  left: 20px;
  text-align: center;
}
/* line 273, ../sass/knowledge.scss */
.box-mosquito > p {
  color: white;
  margin-top: 8px;
}

/* line 279, ../sass/knowledge.scss */
.section2-bot-horizonContent {
  width: 55%;
  margin: 10px 0px 20px 45px;
  font-size: 18px;
  line-height: 25px;
}
/* line 285, ../sass/knowledge.scss */
.section2-bot-horizonContent > p {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* line 295, ../sass/knowledge.scss */
.section3-top {
  width: 55%;
  margin: 14% 0px 0px 10%;
  border-bottom: 4px solid #fdf5db;
}

/* line 302, ../sass/knowledge.scss */
#section3-mainTitle {
  padding-top: 30px;
}

/* line 306, ../sass/knowledge.scss */
.section3-horizon {
  width: 90%;
  left: 10%;
  padding: 20px 0px 30px 0px;
  display: inline-flex;
  color: #666666;
  font-size: 18px;
}
/* line 316, ../sass/knowledge.scss */
.section3-horizon > .section3-h-left {
  width: 50%;
}
/* line 320, ../sass/knowledge.scss */
.section3-horizon > .section3-h-right {
  top: -70px;
  width: 50%;
}
/* line 326, ../sass/knowledge.scss */
.section3-horizon > .section3-h-right > img {
  width: 70%;
}
/* line 331, ../sass/knowledge.scss */
.section3-horizon p {
  margin-bottom: 20px;
  line-height: 28px;
}

/* line 341, ../sass/knowledge.scss */
.section-breedingSource {
  width: 100%;
}
/* line 344, ../sass/knowledge.scss */
.section-breedingSource > #section-breedingSource-mainTitle {
  margin: 5% 0px 20px 0px;
}
/* line 348, ../sass/knowledge.scss */
.section-breedingSource > p {
  line-height: 23px;
  color: #666666;
  padding: 0px 5% 0px 10%;
}

/* line 355, ../sass/knowledge.scss */
.section-breedingSource-div {
  display: inline-flex;
  width: 90%;
  margin: 20px 5%;
}
/* line 360, ../sass/knowledge.scss */
.section-breedingSource-div > .section-breedingSource-h {
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 2%;
}
/* line 368, ../sass/knowledge.scss */
.section-breedingSource-div .section-breedingSource-box {
  width: 30%;
  height: 150px;
  background-color: #cccccc;
  color: white;
  text-align: center;
  margin: 1% 0px;
  line-height: 150px;
  font-weight: bold;
  font-size: 21px;
}
/* line 378, ../sass/knowledge.scss */
.section-breedingSource-div .section-breedingSource-box > p {
  display: none;
}
/* line 382, ../sass/knowledge.scss */
.section-breedingSource-div .section-breedingSource-box > .back-gray {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(204, 204, 204, 0.8);
  transition: opacity 0.1s ease-in;
}
/* line 388, ../sass/knowledge.scss */
.section-breedingSource-div .section-breedingSource-box > .back-gray:hover {
  opacity: 1;
}

/* line 395, ../sass/knowledge.scss */
#bottle {
  background: url("../src/img/knowledge/bottle.png") no-repeat center;
  background-size: contain;
}

/* line 400, ../sass/knowledge.scss */
#tire {
  background: url("../src/img/knowledge/tire.png") no-repeat center;
  background-size: contain;
}

/* line 404, ../sass/knowledge.scss */
#roof {
  background: url("../src/img/knowledge/roof.png") no-repeat center;
  background-size: contain;
}

/* line 408, ../sass/knowledge.scss */
#bucket {
  background: url("../src/img/knowledge/bucket.png") no-repeat center;
  background-size: contain;
}

/* line 412, ../sass/knowledge.scss */
#styrofoam {
  background: url("../src/img/knowledge/styrofoam.png") no-repeat center;
  background-size: contain;
}

/* line 416, ../sass/knowledge.scss */
#vase {
  background: url("../src/img/knowledge/vase.png") no-repeat center;
  background-size: contain;
}

/* line 421, ../sass/knowledge.scss */
#laundry {
  background: url("../src/img/knowledge/laundry.png") no-repeat center;
  background-size: contain;
}

/* line 425, ../sass/knowledge.scss */
#drinking {
  background: url("../src/img/knowledge/drinking.png") no-repeat center;
  background-size: contain;
}

/* line 429, ../sass/knowledge.scss */
#refrigerator {
  background: url("../src/img/knowledge/refrigerator.png") no-repeat center;
  background-size: contain;
}

/* line 433, ../sass/knowledge.scss */
#toilet {
  background: url("../src/img/knowledge/toilet.png") no-repeat center;
  background-size: contain;
}

/* line 441, ../sass/knowledge.scss */
.section-video {
  width: 100%;
  background-color: #fdf5db;
}
/* line 445, ../sass/knowledge.scss */
.section-video > #section-video-mainTitle {
  margin-top: 50px;
}
/* line 449, ../sass/knowledge.scss */
.section-video > .mosquito-video {
  background-color: #fdf5db;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  padding: 50px 10%;
}

/* line 464, ../sass/knowledge.scss */
.video > p {
  color: #666666;
  font-size: 15px;
  text-align: center;
  padding: 10px 0px 20px 0px;
}
/* line 471, ../sass/knowledge.scss */
.video > iframe {
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 1px 1px black;
}

@media screen and (max-width: 1090px) {
  /* line 482, ../sass/knowledge.scss */
  .title-bar {
    margin-top: 10%;
  }

  /* line 486, ../sass/knowledge.scss */
  .section2-bot > .section2-bot-subText {
    width: 80%;
  }
}
@media screen and (max-width: 940px) {
  /* line 493, ../sass/knowledge.scss */
  .whats-dengue-text {
    width: 84%;
  }

  /* line 497, ../sass/knowledge.scss */
  .how-can-do {
    width: 100%;
    top: 0px;
    margin: 15% auto auto auto;
  }

  /* line 504, ../sass/knowledge.scss */
  .section3-horizon {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* line 511, ../sass/knowledge.scss */
  .section3-horizon > .section3-h-left {
    width: 100%;
  }
  /* line 515, ../sass/knowledge.scss */
  .section3-horizon > .section3-h-right {
    width: 60%;
    top: 0px;
  }
  /* line 519, ../sass/knowledge.scss */
  .section3-horizon > .section3-h-right > img {
    width: 100%;
  }

  /* line 526, ../sass/knowledge.scss */
  .section2-bot-horizon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 531, ../sass/knowledge.scss */
  .section2-bot-horizon > .section2-box {
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
  }

  /* line 540, ../sass/knowledge.scss */
  .box-mosquito {
    top: 0px;
    left: 0px;
    margin: 10px 0px;
    width: 215px;
    text-align: center;
  }
  /* line 547, ../sass/knowledge.scss */
  .box-mosquito > p {
    color: #292c77;
  }

  /* line 552, ../sass/knowledge.scss */
  .section2-bot-horizonContent {
    width: 80%;
    margin-left: 0px;
  }

  /* line 557, ../sass/knowledge.scss */
  .section-breedingSource-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 562, ../sass/knowledge.scss */
  .section-breedingSource-div > .section-breedingSource-h {
    width: 90%;
    margin: 20px 0px;
  }
}
@media screen and (max-width: 750px) {
  /* line 572, ../sass/knowledge.scss */
  .section-video > .mosquito-video {
    justify-content: center;
  }

  /* line 577, ../sass/knowledge.scss */
  .section3-horizon > .section3-h-right {
    width: 75%;
  }

  /* line 582, ../sass/knowledge.scss */
  .man-run-container-animation {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* line 588, ../sass/knowledge.scss */
  .whats-dengue-text {
    text-align: center;
  }
  /* line 591, ../sass/knowledge.scss */
  .whats-dengue-text > .topic-title {
    padding: 20px 0px;
    display: block;
  }
  /* line 596, ../sass/knowledge.scss */
  .whats-dengue-text p {
    margin: auto;
    padding: 0px 0px 20px 0px;
  }

  /* line 602, ../sass/knowledge.scss */
  .how-can-do {
    margin-top: 22%;
  }

  /* line 606, ../sass/knowledge.scss */
  #whats-dengue-text-p1, #section2-bot-subText-p1 {
    display: none;
  }
}
