.footer{
	width: 100% ;
	height: 14%;
	position:relative ;
	background-color:$blue-color ;
	padding-top: 30px;

	.f-left {
	  margin-top: 5px;
		margin-left: 7%;
		float: left;
		color: #fff;
		font-size:$sub-font-size - 2px;
		width: 55%;
		min-width: 400px;
		line-height: 1.7;

    img {
      margin-right: 5px;
    }

		a {
		  color: #fff;
    }
	}

	.f-right {
    float: right;
		margin-right: 10%;
    a {
      float: right;
    }
  }

	li {
		@include setSize(60px , 60px);
		margin-right: 10px;
		list-style:none ;
		display: inline-block;
  }
}

#aboutUs{
	background:url("../src/img/footer/aboutUs.svg") no-repeat center;
	background-size:100%;
}

#facebook{
	background:url("../src/img/footer/facebook.svg") no-repeat center;
	background-size:115%;
}

@media screen and (max-width: 940px) {
	.footer{
		display:none ;
	}
}
