@import 'reset';
@import 'nav';
@import 'footer';

body {
  background-color:$green-color;
}

@mixin gradient($a , $a_pa , $b , $b_pa , $c , $c_pa){
  background: radial-gradient($a $a_pa, $b $b_pa , $c $c_pa);
  -moz-background: radial-gradient($a $a_pa, $b $b_pa , $c $c_pa);
  -o-background: radial-gradient($a $a_pa, $b $b_pa , $c $c_pa);
  -webkit-background: radial-gradient($a $a_pa, $b $b_pa , $c $c_pa);
}

%position_absolute{
  position:absolute ;
}

%border_circle{
  @include border-radius(100%);
}

.active{
  display:block !important;
}

.section{
  height:100%;
}
// //////////////
// section1
// //////////////
.title-bar {
  @include setSize(245px, 50px);
  background-color: $yellow-color;
  margin-top: 7%;
  padding-left: $mainTitleLeft;
  >h1 {
    letter-spacing: 5px;
    font-size: $title-font;
    color: $blue-color;
    padding-top: 20px;
  }
}

.bg_cloud {
  @include setSize(100%, 60%);
  @extend %position_absolute;
  top:23%;
  z-index:-1 ;
  background: url(../src/img/interact/interact-26.png);
  background-size: 90%;
  background-position: 700px center;
  background-repeat: no-repeat;

  animation:cloude_move 300s linear  infinite;
  -webkit-animation: cloude_move 300s linear infinite;
  -moz-animation: cloude_move 300s linear infinite;
}

@keyframes cloude_move{
  to{ background-position-x: -1200px ;}
}

.obj{
  @extend %all_center;
  @extend %position_relative;
  margin-top:45px ;
}
.full{
  @extend %position_absolute;
  @extend %verticle_center ;
  width:100% ;
  z-index:-1;
  top: 0px;
  left: 0px;
  justify-content: space-between;
}

.main{
  @include border-radius(25px);
  @include setSize(50%,360px);
  background-color:$yellow-color;
  padding:20px;
  margin:15px 6%;
}

.shadow{
  @include setSize(90%,30px);
  @include border-radius(100%);
  @include gradient(rgba(0, 0, 0, 0.4) ,0%, rgba(0, 0, 0, 0.2), 50% ,rgba(0, 0, 0, 0.01), 75%);
  margin: 30px auto 0px auto;
}

.side-bar{
  @include setSize(125px,170px);
  @include transition-property(all); //firefox
  @include transition-duration(0.2s); //firefox
  @include transition-timing-function(ease-in); //firefox
  @extend %position_relative ;
  left:0px;

  >.triangle{
    fill-opacity:1;
    cursor:pointer;
    fill:$yellow-color;

    &:hover{
      stroke: $blue-color;
      stroke-width: 9px;
    }
  }

  >.top-r-rect{
    fill:$blue-color;
    transform: rotateZ(37deg);
  }

  >.top-l-rect{
    fill:$blue-color;
    transform: rotateZ(-37deg); 
  }
}

.click_anim{
  @include animation(click 0.15s linear);   
}

@include keyframes(click) {
  50%{
    opacity:0.2 ;
    transform: scale(0.8);
  }
}

.board{
  @extend %position_relative;
  @include setSize(90%,83%);
  display:none;

  background: #fff;
  margin: 10px auto;
  box-sizing: border-box;
  border: 6px solid rgba(255, 255, 255, 0.83);

  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text{
  @extend %position_absolute;
  @include setSize(100%,0%);
  @include transition-property(all); //firefox
  @include transition-duration(0.3s); //firefox
  @include transition-timing-function(ease-in); //firefox

  background-color: rgba(45, 48, 121, 0.9);
  text-align:center ;
  color: white ;
  top:0% ;
  z-index:2 ;
  opacity:0 ;

  > h2{
    margin:50px 20px ;
    letter-spacing:2px ;
    font-size:$font-ddlarge-size + 2px ;
  }
  >p{
    letter-spacing:1px ;
    line-height:1.5;
    margin: 20px;
    font-size: 18px;
  }
}

.circle{
  @extend %border_circle ;
  @extend %all_center ;

  @include setSize(80px,80px);
  @include transition-property(font-size); //firefox
  @include transition-duration(0.15s); //firefox
  @include transition-timing-function(ease-in); //firefox
  background-color: $blue-color ;
  cursor:pointer ;
  margin:7px 30px ;
  color: white;
  font-size: 75px;
}

.stretch{
  opacity:1 ;
  height:100%;
}

.box{
  @include transition-property(all); //firefox
  @include transition-duration(0.2s); //firefox
  @include transition-timing-function(ease-in); //firefox
  @extend %position_relative;

  background-color: rgba(41, 44, 119, 0.7);
  cursor:pointer;
  color: #fff;
  opacity:0;
  text-align:center;

  > h2{
    margin: 20px;
    font-size: $font-dlarge-size;
  }

  >p{
    letter-spacing:2px;
    padding:10px;
  }
}

#box-right{
  right:-200px;
}

.box-right-hover{
  right:0px !important;
  opacity:1 ;
}

#box-left{
  left:-200px;
}

.box-left-hover{
  left:0px !important;
  opacity:1 ;
}

#interact_1{
  background-image: url(../src/img/interact/competition.jpg);
}
#interact_2{
  background-image: url(../src/img/interact/theMosquitoMan.png);
}

.box-bottom{
  @extend %all_center ;
  @extend %position_relative ;
  width:100%;
}

.sm-select{
  display:none ;
  width:40px;
  cursor:pointer ;
}

#sound{
  @extend %position_absolute ;
  @include setSize(60px , 45px);
  top:0px;
  right:30px ;
  cursor:pointer;

  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(../src/img/interact/soundOn.svg);
}
.sound_off{
  background-image:url(../src/img/interact/soundOff.svg) !important;
}

#enter_text{
  @extend %position_absolute;
  display:none ;
  left:59% ;
  color: $blue-color;
}

@media screen and (max-width: 940px){
  .full, .side-bar {
    display:none ;
  }
  .main{
    width:80% ;
    padding:20px 0px;
  }
  .sm-select{
    display:block ;
  }

  #enter_text{
    opacity:0;
  }
}

@media screen and (max-width: 550px ){
  .intro-text{
    display:none;
  }
  #sound{
    @include setSize(50px , 38px);
    right:0px ;
  }
}

@media screen and (max-height: 600px){
  .section{
    height:130%;
  }
}
