@import 'reset';
@import 'nav';
@import 'footer';
@import 'mainTitleBox';

body {
	background-color:$green-color;
}

// //////////////
// section1
// //////////////
.title-bar {
  @include setSize(190px, 50px);
  background-color: $yellow-color;
  margin-top: 7%;
  padding-left: $mainTitleLeft;
  >h1 {
    letter-spacing: 5px;
    font-size: $title-font;
    color: $blue-color;
    padding-top: 20px;
  }
}


.whats-dengue-text {
	@extend %position_relative ;
	width:55% ;
	top:10% ;

	background-color:$blue-color;
	z-index:2;
	
	margin:0px $mainTitleLeft 0px 8%;
	padding:10px 0px;
	color: white ;

	> .topic-title {
		@extend %verticle_center ;

		padding:30px 10px 30px 30px;
		font-size:$title-font - 2px;
	}

	p {
		font-size: $font-size ;
		width:82%;
		font-weight:100;
		line-height:$fontSize-line-height + 2px;
		padding:0px 10px 20px 60px ;

		> .inc_int{
			line-height:38px;
			font-size:30px;
			color:$yellow-color;
		}
	}
}

.section1-bot{
	padding:10px;
	z-index:-1;
	background-color: $yellow-color;
}

.how-can-do{
	@extend %position_relative ;
	top:-80px ;
	width:30% ;
	text-align:center ;
	margin-left:66%;

	> .section1-text{
		color: $blue-color;
		font-size:$subTitle-font;
	}
}

.svgYa{
	@extend %position_relative ;
	right:10%;	
	z-index:2;

	width:300px ;
	height:140px ;

	> rect , polygon {
		fill: $blue-color ;
		margin-top:2px ;
	}
}

#rect1{
	@include animation(twinkling 4s steps(4) 0s infinite );
}

#rect2{
	@include animation(twinkling 4s steps(4) 0.25s infinite );	
}

#rect3{
	@include animation(twinkling 4s steps(4) 0.5s infinite );	
}

#rect4{
	@include animation(twinkling 4s steps(4) 0.75s infinite );	
}

#rect5{
	@include animation(twinkling 4s steps(4) 1s infinite );	
}

#rect6{
	@include animation(twinkling 4s steps(4) 1.25s infinite );	
}

#rect7{
	@include animation(twinkling 4s steps(4) 1.5s infinite );	
}

#triangle8{
	@include animation(twinkling 4s steps(4) 1.75s infinite);		
}

@include keyframes(twinkling) {
	0%{
		opacity:1;
	}
	25%{
		opacity:0.2;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:1;
	}
}


#button_killMosquito{
	@include setSize(70% , 65px);
	@extend %all_center ;
	
	margin:auto;

	background-color:$red-color;	
	border-radius:15px;
	box-shadow:5px 5px 8px 0px rgba(0,0,0,0.8) ;
	font-weight:bold;
	font-size:$subTitle-font - 5px;
	color:$yellow-color ;

	transition: all 0.1s ease-in ;

	&:hover {
		@include animation(bling 0.8s ease-in-out 0s infinite alternate);
		transform:scale(0.9);
		cursor:pointer;
	}
}

@include keyframes(bling) {
	0% {
		box-shadow: 0 0 5px 2px rgba(92, 95, 99, 0.7);
	}
	100% {
		box-shadow: 0 0 11px  2px rgba(0,0,0,0.3) , 0 0 13px 5px $green-color;
	}
}


// //////////////
// section2
// //////////////

.section2-top{
	width:100%;
	background-color:$yellow-color ;
	@extend %position_relative ;

	> #section2-mainTitle{
		margin-top:10%;

		@extend %position_relative ;
		bottom:-20px;
	}
}

.man-run{
	background: url('../src/img/5-run-all.png') no-repeat right;
	width:214px;
	height:91px;

	@include animation(man-run 0.5s steps(9) infinite);
}
@include keyframes(man-run){
	from{
		background-position-x: 0px;
	}
	to{
		background-position-x: -1926px;
	}
}

.man-run-container-animation{
	bottom:0px;
	left:50%;
	position:absolute;

	@include animation(run 8s linear infinite);
}
@include keyframes(run){
	from{
		opacity:1;
		left:30%;
	}
	40%{
		opacity:1;
	}
	80%{
		opacity:0;
		left:100%;
	}
	100%{
		opacity:0;
	}
}


.section2-bot{
	display:flex ;
	flex-direction:column ;
	justify-content:center ;
	background-color:$green-color ;

	> .section2-bot-subText{
		width:46% ;
		padding:50px 0px 60px 10% ;
		color:$li-color ;

		line-height:$fontSize-line-height;
		font-size:$sub-font-size;

		> p{
			margin-bottom:10px;
		}
	}
}

.section2-bot-horizon{
	display:inline-flex ;
	justify-content :center ;
	color: $blue-color ;

	> .section2-box{
		width:30% ;
		height:90%;
		margin:10px;
		display:inline-flex ;
		background-color:$blue-color ;
	}
}

.box-mosquito{
	width:50%;
	position:relative ;
	top:-20px ;
	left:20px ;
	text-align:center ;

	> p{
		color:white ;
		margin-top:8px ;
	}
}

.section2-bot-horizonContent{
	width:55% ;
	margin:10px 0px 20px 45px;
	font-size:$font-size ;
	line-height:$fontSize-line-height + 2px ;

	> p{
		margin-bottom:20px ;
		letter-spacing: 2px ;
	}
}


// //////////////
// section3
// //////////////
.section3-top{
	width:55%;
	margin:14% 0px 0px 10% ;
	border-bottom:4px solid $yellow-color ;
	@extend %position_relative;
}

#section3-mainTitle{
	padding-top:30px ;
}

.section3-horizon {
	@extend %position_relative ;
	width:90% ;
	left:10% ;
	padding:20px 0px 30px 0px;
	display: inline-flex ;

	color: $li-color ;
	font-size:$font-size ;

	> .section3-h-left{
		width:50% ;
	}

	> .section3-h-right{
		@extend %all_center ;
		@extend %position_relative ;
		top:-70px ;
		width:50% ;

		> img{
			width:70% ;
		}
	}

	p{
		margin-bottom:20px;
		line-height: $fontSize-line-height + 5px ;
	}
}

// //////////////
// section4
// //////////////

.section-breedingSource{
	width:100% ;

	> #section-breedingSource-mainTitle{
		margin:5% 0px 20px 0px;
	}

	> p{
		line-height:$fontSize-line-height;
		color:$li-color ;
		padding:0px 5% 0px 10% ;
	}
}

.section-breedingSource-div{
	display:inline-flex ;
	width:90% ;
	margin:20px 5% ;

	> .section-breedingSource-h{
		width:50% ;
		display:inline-flex ;
		justify-content:space-around ;
		flex-wrap:wrap ;
		margin-right:2% ;
	}

	.section-breedingSource-box{
		@include setSize(30% , 150px);
		background-color: $bar-back2-color;
		color:white;
		text-align:center ;
		margin:1% 0px ;
		line-height:150px ;
		font-weight:bold ;
		font-size: $font-large-size ;

		> p{
			display:none ;
		}

		> .back-gray{
			@include setSize(100%,100%);
			opacity:0 ;
			background-color:rgba(204,204,204,0.8);
			transition: opacity 0.1s ease-in ;

			&:hover{
				opacity:1 ;
			}	
		}
	}
}

#bottle{
	background: url("../src/img/knowledge/bottle.png") no-repeat center;
	background-size:contain ;
}

#tire{
	background: url("../src/img/knowledge/tire.png") no-repeat center;
	background-size:contain ;
}
#roof{
	background: url("../src/img/knowledge/roof.png") no-repeat center;
	background-size:contain ;
}
#bucket{
	background: url("../src/img/knowledge/bucket.png") no-repeat center;
	background-size:contain ;
}
#styrofoam{
	background: url("../src/img/knowledge/styrofoam.png") no-repeat center;
	background-size:contain ;
}
#vase{
	background: url("../src/img/knowledge/vase.png") no-repeat center;
	background-size:contain ;
}

#laundry{
	background: url("../src/img/knowledge/laundry.png") no-repeat center;
	background-size:contain ;
}
#drinking{
	background: url("../src/img/knowledge/drinking.png") no-repeat center;
	background-size:contain ;
}
#refrigerator{
	background: url("../src/img/knowledge/refrigerator.png") no-repeat center;
	background-size:contain ;
}
#toilet{
	background: url("../src/img/knowledge/toilet.png") no-repeat center;
	background-size:contain ;
}


// 
// section-video
.section-video {
  width:100% ;
  background-color: $yellow-color;
  
  > #section-video-mainTitle {
    margin-top: 50px;
  }

  > .mosquito-video {
  	background-color: $yellow-color;

	  display: inline-flex;
	  justify-content: space-between;
	  flex-wrap:wrap ;

	  width: 80%;
	  padding: 50px 10%;

	}

}

.video {
	>p{
		color:$li-color ;
		font-size:$sub-font-size ;
		text-align:center ;
		padding:10px 0px 20px 0px;
	}

	> iframe {
    width: 300px;
    height: 200px;
    box-shadow:0px 0px 1px 1px black ;
  }
}

// //////////////
// media
// //////////////
@media screen and (max-width: 1090px) {
	.title-bar {
		margin-top:10% ;
	}
	.section2-bot{
		> .section2-bot-subText{
			width:80% ;
		}
	}
}

@media screen and (max-width: 940px) {
	.whats-dengue-text{
		width:84% ;
	}

	.how-can-do{
		width:100% ;
		top:0px;
		margin:15% auto auto auto ;

	}

	.section3-horizon {
		width:80% ;
		display: flex ;
		justify-content:center ;
		flex-direction:column;
		align-items:center ;

		> .section3-h-left{
			width:100% ;
		}

		> .section3-h-right{
			width:60% ;
			top:0px ;

			> img{
				width:100% ;
			}
		}

	}

	.section2-bot-horizon{
		display:flex ;
		flex-direction:column;
		align-items:center ;

		> .section2-box{
			width:80% ;
			justify-content:space-around;
			flex-wrap:wrap;
			background-color:transparent ;

		}
	}

	.box-mosquito{
		top:0px ;
		left:0px ;
		margin:10px 0px ;
		width:215px;
		text-align:center;

		> p {
			color: $blue-color;
		}
	}
	
	.section2-bot-horizonContent{
		width:80% ;
		margin-left: 0px;
	}

	.section-breedingSource-div{
		display:flex ;
		flex-direction :column;
		align-items:center ;

		> .section-breedingSource-h{
			width:90% ;
			margin:20px 0px;
		}
	}
}

@media screen and (max-width: 750px) {
	.section-video{

		> .mosquito-video{
			justify-content:center ;
		}
	}
	.section3-horizon{
		> .section3-h-right{
			width:75% ;
		}
	}
}

@media screen and (max-width: 500px) {
	.whats-dengue-text{
		text-align:center ;

		> .topic-title{
			padding:20px 0px ;
			display:block ;
		}

		p{
			margin:auto ;
			padding: 0px 0px 20px 0px ;
		}
	}

	.how-can-do{
		margin-top:22% ;
	}

	#whats-dengue-text-p1 {
		display:none ;
	}

	#section2-bot-subText-p1{
		@extend #whats-dengue-text-p1 ;
	}

	// .section3-left-text{
	// 	@extend #whats-dengue-text-p1 ;
	// }
}