@import 'reset';
@import 'nav';
@import 'color';
@import 'module';

body {
	background-color:$green-color;
}

$fontSize-line-height:23px;
$sub-font-size:15px;
$font-size:18px;
$font-large-size:21px ;
$font-dlarge-size:25px ;

$title-font:42px;
$subTitle-font:38px;
$mainTitleLeft: 8% ;

.section {
	@extend %RWDscreen ;
}

// //////////////
// font-transition
// //////////////
.font-bold{
	font-weight:bold ;
}

.font-sub-to-big{
	@extend .font-bold ;
	font-size:$font-size;
}

.font-normal-to-big{
	@extend .font-bold ;
	font-size:$font-large-size;
}

.font-big-to-dbig{
	@extend .font-bold ;
	font-size:$font-dlarge-size ;
}

// //////////////
// section1
// //////////////
.title-bar {
  @include setSize(190px, 50px);
  background-color: $yellow-color;
  margin-top: 7%;
  padding-left: $mainTitleLeft;
  >h1 {
    letter-spacing: 5px;
    font-size: $title-font;
    color: $blue-color;
    padding-top: 20px;
  }
}


.whats-dengue-text {
	@extend %position_relative ;
	width:55% ;
	top:10% ;

	background-color:$blue-color;
	z-index:2;
	
	margin:0px $mainTitleLeft 0px 8%;
	padding:10px 0px;
	color: white ;

	> .topic-title {
		@extend %verticle_center ;

		padding:30px 10px 30px 30px;
		font-size:$title-font - 2px;
	}

	p {
		font-size: $font-size ;
		width:82%;
		font-weight:100;
		line-height:$fontSize-line-height + 2px;
		padding:0px 10px 20px 60px ;

		> .inc_int{
			line-height:38px;
			font-size:30px;
			color:$yellow-color;
		}
	}
}

.section1-bot{
	padding:10px;
	z-index:-1;
	background-color: $yellow-color;
}

.how-can-do{
	@extend %position_relative ;
	top:-80px ;
	width:30% ;
	text-align:center ;
	margin-left:66%;

	> .section1-text{
		color: $blue-color;
		font-size:$subTitle-font;
	}
}

.svgYa{
	@extend %position_relative ;
	right:10%;	
	z-index:2;

	width:300px ;
	height:140px ;

	> rect , polygon {
		fill: $blue-color ;
		margin-top:2px ;
	}
}


#button_killMosquito{
	@include setSize(70% , 65px);
	@extend %all_center ;
	
	margin:auto;

	background-color:$red-color;	
	border-radius:15px;
	box-shadow:5px 5px 8px 0px rgba(0,0,0,0.8) ;
	font-weight:bold;
	font-size:$subTitle-font - 5px;
	color:$yellow-color ;

	transition: all 0.1s ease-in ;

	&:hover {
		background-color:black;
		cursor:pointer;
	}
}


// //////////////
// mainTitleBox
// //////////////
.mainTitleBox{
	display:inline-flex ;
	z-index:2 ;
	align-items:center ;

	padding-left:$mainTitleLeft ;
	color: $blue-color ;
	font-size:$title-font;

	> .leftBar {
		@include setSize(15px , 45px) ;
		@extend %position_relative ;

		background-color:$leftBar-color;
		top:-5px;
	}

	> h1 {
		padding-left:10px ;
	}
}


// //////////////
// section2
// //////////////

.section2-top{
	width:100%;
	background-color:$yellow-color ;

	> #section2-mainTitle{
		margin-top:10%;

		@extend %position_relative ;
		bottom:-20px;
	}
}

.section2-bot{
	display:flex ;
	flex-direction:column ;
	justify-content:center ;
	background-color:$green-color ;

	> .section2-bot-subText{
		width:46% ;
		padding:50px 0px 60px 10% ;
		color:$li-color ;

		line-height:$fontSize-line-height;
		font-size:$sub-font-size;

		> p{
			margin-bottom:10px;
		}
	}
}

.section2-bot-horizon{
	display:inline-flex ;
	justify-content :center ;
	color: $blue-color ;

	> .section2-box{
		width:25% ;
		height:150px ;
		margin:10px 0px ;
	}
}

.section2-bot-horizonContent{
	width:55% ;
	margin:10px 0px 20px 0px;
	font-size:$font-size ;
	line-height:$fontSize-line-height + 2px ;

	> p{
		margin-bottom:20px ;
		letter-spacing: 2px ;
	}
}


// //////////////
// section3
// //////////////
.section3-top{
	width:55%;
	margin:14% 0px 0px 10% ;
	border-bottom:4px solid $yellow-color ;
}

#section3-mainTitle{
	padding-top:30px ;
}

.section3-horizon {
	@extend %position_relative ;
	width:90% ;
	left:10% ;
	padding:20px 0px 30px 0px;
	display: inline-flex ;

	color: $li-color ;
	font-size:$font-size ;

	> .section3-h-left{
		width:60% ;
	}

	> .section3-h-right{
		width:40% ;
	}

	p{
		margin-bottom:20px;
		line-height: $fontSize-line-height + 5px ;
	}
}

// //////////////
// section4
// //////////////

.section-breedingSource{
	@include setSize(100%,70%);

	> #section-breedingSource-mainTitle{
		margin:10% 0px 20px 0px;
	}

	> p{
		color:$li-color ;
		padding:0px 5% 0px 10% ;
	}
}

.section-video {
  width:100% ;
  background-color: $yellow-color;
  
  > #section-video-mainTitle {
    margin-top: 50px;
  }

  > .mosquito-video {
  	background-color: $yellow-color;

	  display: inline-flex;
	  justify-content: space-between;
	  flex-wrap:wrap ;

	  width: 80%;
	  padding: 50px 10%;
	}

}

.video {
	>p{
		color:$li-color ;
		font-size:$sub-font-size ;
		text-align:center ;
		padding:10px 0px 20px 0px;
	}

	> iframe {
    width: 300px;
    height: 200px;
    box-shadow:0px 0px 1px 1px black ;
  }
}

// //////////////
// media
// //////////////
@media screen and (max-width: 1030px) {
	.section2-bot{
		> .section2-bot-subText{
			width:80% ;
		}
	}
}

@media screen and (max-width: 930px) {
	.whats-dengue-text{
		width:84% ;
	}

	.how-can-do{
		width:100% ;
		top:0px;
		margin:15% auto auto auto ;

	}
}

@media screen and (max-width: 750px) {
	.section-video{

		> .mosquito-video{
			justify-content:center ;
		}
	}
}