@import 'reset';
@import 'nav';
@import 'footer';

body {
	background-color:$green-color;
}

.title-bar {
  @include setSize(190px, 50px);
  background-color: $yellow-color;
  margin-top: 7%;
  padding-left: $mainTitleLeft;
  >h1 {
    letter-spacing: 5px;
    font-size: $title-font;
    color: $blue-color;
    padding-top: 20px;
  }
}

.block{
	width:80%;
	margin:65px auto;
	text-align:center;

	color:$black-color;
}

.news{
	@include setSize(55% , 40%);
	@extend %position_relative;
  margin: 3% auto 5px auto;
  background-color:white ;
  border-top: solid 2px $blue-color;
  border-bottom: solid 25px $blue-color;

  box-sizing:border-box;

  > .half-circle{
  	@include setSize(50%,100%);
  	@include border-radius(100%);
		position: absolute;
		border:solid 2px $blue-color;
    background-color:white;
		
		top:-2px;
    z-index:-1;
  }

  > h2{
		font-size: $font-ddlarge-size;
		margin : 10% auto 15px auto;
		overflow:hidden;

		white-space:nowrap; /*強制一行*/
		letter-spacing:2px;
		border-right:2px solid transparent;

		animation:typing 3s steps(11)  forwards 2,caret 0.6s steps(1) 10;
  	-webkit-animation: typing 3s steps(11) forwards 2,caret 0.6s steps(1) 10;
  }

  > p{
  	font-size: $font-size;
  	margin : 15px auto 30px auto;
  	opacity:0.7;
  }

  > .recommend_ref{
  	color:$leftBar-color ;
  }

  .dengue_num{
  	font-size: $font-dddlarge-size + 10px;
		@extend .red;
  }

  .dengue_place{
  	@extend .font-normal-to-big;
  }
}

@keyframes typing{
  from{width:0;}
  70%{width:80%;opacity:1;}
  100%{width:80%;opacity:1;}
}
@keyframes caret{
	1%,99%{border-color:black;}
  50%,100%{border-color:transparent;}
}

.circle-bottom{
	@include setSize(90px , 90px);
	@include border-radius(100%);
	@extend %position_relative;
	background-color: $blue-color ;

	top:20px;
	margin:auto ;
	display:flex;

	cursor:pointer;
	transition: all 0.3s ease-in;

	> .circle-center{
		@include setSize(80%,80%);
		@include border-radius(100%);
    border: 3px solid #fdf5db;
    margin: auto;

    display:flex;
    transition: all 0.3s ease-in;
	}

	.circle-c{
		@include setSize(40%,40%);
		@include border-radius(100%);
		background-color: $yellow-color;
		margin:auto;
		
		display:flex;
		transition: all 0.3s ease-in;
	}
}

.circle-bottom:hover{
	@include setSize(80px , 80px);

	> .circle-center{
		border-width: 8px;
	}

	.circle-c{
		background-color: white;
	}
}

.circle-left{
	left:0px;
	transform: translateX(-50%);
}

.circle-right{
	right:0px;
	transform: translateX(50%);
}

.b-box{
	display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box{
	@include setSize(440px , 40%);
  margin: 10px 5px;
  // border: solid 8px $yellow-color;

  box-sizing: border-box;
  background-color:white ;
  box-shadow:2px 2px 2px 2px rgba(51, 51, 51, 0.2);
  transition:all 0.3s ease-in;

  >.box-img{
  	@include border-radius(25px);
  	width:95%;
  	height:75%;
  	margin:15px auto;
  	overflow:hidden;

  	> img{
  		width:100%;
  	}
  }
	
	>.box-title{
		@extend %position_relative;
		@include border-corner-radius(top, left, 80%);
  	@include border-corner-radius(top, right, 80%);
		top:0%;
		height:20%;
		transition: all 0.3s ease-in ;
	}

  .title{
  	@extend .blue;
  	font-size:$font-size + 3px;
  	letter-spacing:5px;
  }
}

.box:hover{
	cursor:pointer;
	transform: scale(1.02) translateX(-3px) translateY(-3px);
	box-shadow:2px 2px 5px 5px rgba(51, 51, 51, 0.7);

	>.box-title{
		@include addHeight(60% ,15px);
		top:-50%;
		display:flex;
		background-color: rgba(41, 44, 119, 0.8);
	}

	.title{
		font-size:$font-ddlarge-size - 3px;
		color:white;
		margin:auto;
	}
}

