@import 'reset';
@import 'nav';
@import 'footer';

body {
	background-color:$green-color;
}

.title-bar {
  @include setSize(190px, 50px);
  background-color: $yellow-color;
  margin-top: 7%;
  padding-left: $mainTitleLeft;
  >h1 {
    letter-spacing: 5px;
    font-size: $title-font;
    color: $blue-color;
    padding-top: 20px;
  }
}


.block{
	width:80%;
	margin:65px auto;
	text-align:center;

	color:$black-color;
}

.news{
	@extend %position_relative;
	width:100% ;
  margin: 0% auto 6% auto;

  > .half-circle{
  	@include setSize(50%,100%);
  	@include border-radius(100%);
		position: absolute;
		border:solid 2px $blue-color;
    background-color:white;
		
		top:-2px;
    z-index:-1;
  }

  > h2{
  	color: $blue-color;
		font-size: $font-ddlarge-size;
		margin : 10% auto 15px auto;
		overflow:hidden;

		white-space:nowrap; /*強制一行*/
		letter-spacing:2px;
		border-right:2px solid transparent;

		animation:typing 3s steps(11)  forwards 2,caret 0.6s steps(1) 10;
  	-webkit-animation: typing 3s steps(11) forwards 2,caret 0.6s steps(1) 10;
  }

  > p{
  	font-size: $font-size;
  	margin : 15px auto 30px auto;
  	opacity:0.7;
  }

  > .recommend_ref{
  	color:$leftBar-color ;
  	line-height: 1.7 ;
  }

  .dengue_num{
  	font-size: $font-dddlarge-size + 10px;
		@extend .red;
  }

  .dengue_place{
  	@extend .font-big-to-dbig;
  }
}

.recommend_ref:hover{
	border-bottom:solid 1px;
}

@keyframes typing{
  from{width:0;}
  70%{width:400px;opacity:1;}
  100%{width:400px;opacity:1;}
}
@keyframes caret{
	1%,99%{border-color:black;}
  50%,100%{border-color:transparent;}
}


.b-box{
	display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
	// 注意一個 box 寫死為 height:325px;
	@include setSize(440px , 325px);
  margin: 10px;
  // border: solid 8px $yellow-color;

  box-sizing: border-box;
  background-color:white ;
  transition:all 0.3s ease-in;

  >.box-img{
  	@include border-radius(25px);
  	@include setSize(95%,250px);
  	margin:15px auto;
  	overflow:hidden;

  	> img{
  		width:100%;
  	}

  	> img.box-img-no-full{
  		height:100%;
  	}
  }
	
	>.box-title{
		@extend %position_relative;
		// @include border-corner-radius(top, left, 80%);
  	// @include border-corner-radius(top, right, 80%);
		top:0%;
		height:35px;

		margin: 0px auto 10px auto ; //firefox
		@include transition-property(all); //firefox
  	@include transition-duration(0.2s); //firefox
  	@include transition-timing-function(ease-in); //firefox
	}

  .title{
  	@extend .blue;
  	font-size:$font-size + 5px;
  	letter-spacing:5px;
  }
}

.box:hover{
	cursor:pointer;
	transform: scale(1.02) translateX(-3px) translateY(-3px);

	>.box-title{
		@include addHeight(280px , 45px);
		top:-280px;

		display:flex;
		background-color: rgba(41, 44, 119, 0.7);
	}

	.title{
		font-size:$font-ddlarge-size - 3px;
		color:white;
		margin:auto;
	}
}

@media screen and (max-width:1130px) {
	.box{
		width:80%;
	}
}

@media screen and (max-width: 680px) {
	.box{
		width:100%;
	}
}

@media screen and (max-width: 500px) {
	.news{
		>h2{
			font-size: $font-dlarge-size + 2px;
		}

		.dengue_num{
	  	font-size: $font-ddlarge-size + 2px;
	  }
	}

	@keyframes typing{
	  from{width:0;}
	  70%{width:100%;opacity:1;}
	  100%{width:100%;opacity:1;}
	}

}

/*
.circle-bottom{
	@include setSize(90px , 90px);
	@include border-radius(100%);
	@extend %position_relative;
	background-color: $blue-color ;

	top:20px;
	margin:auto ;
	display:flex;

	cursor:pointer;
	transition: all 0.3s ease-in;

	> .circle-center{
		@include setSize(80%,80%);
		@include border-radius(100%);
    border: 3px solid #fdf5db;
    margin: auto;

    display:flex;
    transition: all 0.3s ease-in;
	}

	.circle-c{
		@include setSize(40%,40%);
		@include border-radius(100%);
		background-color: $yellow-color;
		margin:auto;
		
		display:flex;
		transition: all 0.3s ease-in;
	}
}

.circle-bottom:hover{
	@include setSize(80px , 80px);

	> .circle-center{
		border-width: 8px;
	}

	.circle-c{
		background-color: white;
	}
}

.circle-left{
	left:0px;
	transform: translateX(-50%);
}

.circle-right{
	right:0px;
	transform: translateX(50%);
}
*/
