<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="../dist/css/competition.css" >
</head>

<body style="overflow-x:hidden;">
  
  {{>header}}
  <!-- 頁面開始 -->
    
  <div id="competition">
    <div class="title-bar">
      <h1>掌蚊人環境回報比賽</h1>
    </div>

    <!-- img -->
    <div class = "competition-img">
      <img src = "../dist/src/img/interact/competition.jpg">
    </div>

    <div class="headline">
      <div class="h-content">
        <h2 class="about-h2"></h2>
        <img src="../dist/src/img/about-us/aboutus-01.png">
      </div>
    </div>
    
    <!-- 競賽辦法 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">辦法</span></h1>
    </div>

    <div class="content">
      <p >
      <span class = "font-normal-to-big" style = 
      "line-height:2;">活動期間：民國105年 10月17日 ~ 10月30日</span>
      <br/>
      活動地點：台南市區
      <br/>
      參加辦法：下載「
      掌蚊人APP」，註冊成功並回報10個以上位於台南市的環境髒亂、積水點，即可參加抽獎。
      <br/>
      主辦單位：台南市成功大學 跨領域登革熱研究團隊
      </p>
    </div>

    <!-- 競賽獎勵 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">獎勵</span></h1>
    </div>

    <div class="content">
      <p>
      <span class = "font-normal-to-big" style = 
      "line-height:2;">抽獎時間：民國105年 10月31日</span>
      <br/>
      首獎：Iphone 6s 32GB（一支）
      <br/>
      二獎：1000元現金（三組）
      <br/>
      三獎：威秀電影票兩張（五組）
      <br/>
      </p>
    </div>
    
    <!-- 競賽規則 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">規則</span></h1>
    </div>

    <div class="content">
      <p>
      1/ 參加民眾下載「掌蚊人」APP
      <br/>
      2/ 利用「環境回報」功能回報積水容器（含積水容器的髒亂點，且需位於台南市）
      <br/>
      3/ 只要回報<span class = "font-bold"> 10個以上 </span>可疑滋生源點，即可參加抽獎。
      <br/>
      </p>
    </div>

    <div class="section3-top">
      <div class = "man-run-container-animation">
        <div class = "man-run"></div>
      </div>
    </div>
  
    <!-- 回報流程 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>回報<span class = "red">流程</span></h1>
    </div>

    <div class="content">
      <p >
      團隊詳細討論中，敬請期待！
      </p>
    </div>
    
    <!-- 競賽備註 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">備註</span></h1>
    </div>

    <div class="content">
      <p class ="font-sub-to-big" ><i>
      「掌蚊人」團隊保有活動最終解釋權。
      <br/>
      如有疑問，請聯絡「掌蚊人」粉專。</i>
      </p>
    </div>

    <div class="footerline f1">
    </div>
  </div>

  {{> footer}}
</body>
<!-- jquery -->
<script src="../dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="../dist/js/nav.js"></script>
</html>
