<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./dist/css/competition.css" >
</head>

<body style="overflow-x:hidden;">
  
  {{>header}}
  <!-- 頁面開始 -->
    
  <div id="competition">
    <div class="title-bar">
      <h1>{{title}}</h1>
    </div>

    <!-- img -->
    <div class = "competition-img">
      <img src = "./dist/src/img/interact/competition.jpg">
    </div>

    <div class="headline">
      <div class="h-content">
        <h2 class="about-h2"></h2>
        <img src="./dist/src/img/about-us/aboutus-01.png">
      </div>
    </div>
    
    <!-- Sound control -->
    <div id = "sound" class = ""></div>
    
    <!-- 競賽辦法 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">辦法</span></h1>
    </div>

    <div class="content">
      <p>
      <span class="font-normal-to-big" style="line-height:2">活動期間：民國105年 即日起 ~ 10月30日</span>
      <br>活動地點：台南市區
      <br>參加辦法：下載「 掌蚊人APP」，註冊成功並回報 3 個以上位於台南市的環境髒亂、積水點，即可參加抽獎。
      <br>主辦單位：台南市成功大學 跨領域登革熱研究團隊
      </p>
    </div>

    <!-- 競賽獎勵 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">獎勵</span></h1>
    </div>

    <div class="content">
      <p>
      <span class = "font-normal-to-big" style = 
      "line-height:2;">抽獎時間：活動結束後即日公開抽獎</span>
      <br/>首獎：Iphone 6s 32GB（一支）
      <br/>二獎：小米行動電源20000（三組）
      <br/>三獎：威秀電影票兩張（五組）
      <br/>
      </p>
    </div>
    
    <!-- 競賽規則 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">規則</span></h1>
    </div>

    <div class="content">
      <p>1/ 參加民眾下載「掌蚊人」APP
      <br/>2/ 利用「環境回報」功能回報積水容器（含積水容器的髒亂點，且需位於台南市）
      <br/>3/ 只要回報<span class = "font-bold"> 3 個以上 </span>位於台南市的環境髒亂、積水點，即可參加抽獎。
      <br/>4/ 回報越多環境點，中獎機會越高！
      </p>
    </div>

    <div class="section3-top">
      <div class = "man-run-container-animation">
        <div class = "man-run"></div>
      </div>
    </div>
  
    <!-- 回報流程 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>回報<span class = "red">流程</span></h1>
    </div>

    <div class="content">
      <img id="competition-flow" src="./dist/src/img/interact/competition_flow.png"></img>
      <p class="font-sub-to-big">小提醒：回報後，可至即時疫情>> <a class="red" href="../realMap/realTime_heat.html">群眾集力式蚊媒風險回報點分析  </a> 觀看</p>
    </div>
    
    <!-- 競賽備註 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>競賽<span class = "red">備註</span></h1>
    </div>

    <div class="content">
      <p class ="font-sub-to-big" ><i>
      「掌蚊人」團隊保有活動最終解釋權。
      <br/>
      如有疑問，請<span id = "fans_message">聯絡「掌蚊人」粉專</span>。</i>
      </p>
    </div>

    <!-- 回報流程 -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1>贊助<span class = "red">單位</span></h1>
    </div>

    <div class="content">
      <p style = "font-size:17px;letter-spqcing:2px;">  
      <i>
        <a href="http://www.moeaidb.gov.tw/">經濟部工業局 </a> &nbsp;&nbsp;/
        <a href="http://www.fetnet.net/Home/index.html">遠傳電信 </a> &nbsp;&nbsp;/
        <a href="https://www.facebook.com/tainan4gcity/">遠傳電信臺南4G智慧城市專案辦公室 </a> &nbsp;&nbsp;
      </i>
      </p>
    </div>

    <div class="footerline f1"></div>
  </div>

  <audio id="bgm_competition" autoplay loop>
    <source src="./dist/audio/competition.mp3" type="audio/mp3">
  </audio>

  {{> footer}}
</body>
<!-- jquery -->
<script src="./dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="./dist/js/nav.js"></script>
<!-- Cintrol audio -->
<script type="text/javascript">
  $('#sound').click(function(){
    $('#sound').toggleClass("sound_off");
    $("#bgm_competition").prop("muted",!$("#bgm_competition").prop("muted"));
  })

  $('#fans_message').click(function(){
    window.open('https://www.facebook.com/messages/688143401336565', '_blank');
  })
</script>
</html>
