<!DOCTYPE HTML>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <!-- normalize.css -->
  <link type="text/css" rel="stylesheet" href="./src/normalize.css">

  <link type="text/css" rel="stylesheet" href="./css/context.css" >

  <title> 蚊言文 || The Mosquito Man </title>
</head>

<body style= "overflow-x:hidden;">

  {{> header }}
	<!-- 頁面開始 -->
	<div class="title-bar">
		<h1>蚊言文</h1>
	</div>

	<h1 id = "contextTitle">專業專欄報導</h1>

	<div class = "context">

		<!-- 一個content是一個文章 -->

		<div class = "content">
			<div class = "line"></div>
			<h2>豪雨登革熱恐加溫？巡邏倒清十分鐘一起來</h2>
			
			<div class = "content-inner">
				<!-- <img class = "content-img" src = "../src/img/context/1.jpg"> -->
				<p class = "content-p">傳播， 被蚊子叮咬時才會將病毒傳播入人體，需要注意的是沒有帶有病毒的斑蚊，若叮到了得登革熱的病患，則會使蚊子帶入病毒進而叮咬更多人。
				</p>

				<a href = "../content/1.html"><p class = "read-more">☛ read more ... </p></a>

				<p class = "content-note"><span class = "editor">行政院環保處</span> ▪︎ <span class = "time">2016 . 06 . 11</span></p>
			</div>

		</div>

		<div class = "content">
			<div class = "line"></div>
			<h2>豪雨登革熱恐加溫？巡邏倒清十分鐘一起來</h2>

			<div class = "content-inner">
				<!-- <img class = "content-img" src = "../src/img/context/1.jpg"> -->
				<p class = "content-p">傳播， 被蚊子叮咬時才會將病毒傳播入人體，需要注意的是沒有帶有病毒的斑蚊，若叮到了得登革熱的病患，則會使蚊子帶入病毒進而叮咬更多人。
				</p>
				<a href = "../content/1.html"><p class = "read-more">☛ read more ... </p></a>

				<p class = "content-note"><span class = "editor">行政院環保處</span> ▪︎ <span class = "time">2016 . 06 . 11</span></p>
			</div>

		</div>

		<div class = "content">
			<div class = "line"></div>
			<h2>豪雨登革熱恐加溫？巡邏倒清十分鐘一起來</h2>

			<div class = "content-inner">
				<!-- <img class = "content-img" src = "../src/img/context/1.jpg"> -->
				<p class = "content-p">傳播， 被蚊子叮咬時才會將病毒傳播入人體，需要注意的是沒有帶有病毒的斑蚊，若叮到了得登革熱的病患，則會使蚊子帶入病毒進而叮咬更多人。
				</p>
				<a href = "../content/1.html"><p class = "read-more">☛ read more ... </p></a>

				<p class = "content-note"><span class = "editor">行政院環保處</span> ▪︎ <span class = "time">2016 . 06 . 11</span></p>
			</div>

		</div>

		<div class = "content">
			<div class = "line"></div>
			<h2>豪雨登革熱恐加溫？巡邏倒清十分鐘一起來</h2>

			<div class = "content-inner">
				<!-- <img class = "content-img" src = "../src/img/context/1.jpg"> -->
				<p class = "content-p">傳播， 被蚊子叮咬時才會將病毒傳播入人體，需要注意的是沒有帶有病毒的斑蚊，若叮到了得登革熱的病患，則會使蚊子帶入病毒進而叮咬更多人。
				</p>
				<a href = "../content/1.html"><p class = "read-more">☛ read more ... </p></a>

				<p class = "content-note"><span class = "editor">行政院環保處</span> ▪︎ <span class = "time">2016 . 06 . 11</span></p>
			</div>

		</div>

	</div>
	
	<!--
	等到有種類時在開始做catagory 
	<div class = "catagory">
		<img id = "man" src = "../src/img/4-man.svg">
		<div></div>
	</div>
	-->

	<!-- footer -->
	<footer class = "footer">
		<p> <span>©</span> ALL RIGHT RESERVED TO THE MOSQUITO MAN</p>
		<li id = "facebook"></li>
		<li id = "aboutUs"></li>
	</footer>



</body>

<!-- jquery -->
<script src ="./src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src ="./js/nav.js"></script>
</html>
