<footer class = "footer">
<div class="f-left">
  <span class="copy-right">
    版權所有・掌蚊人團隊&nbsp;Copyright © theMosquitoMan&nbsp;&nbsp;<br>
    <a href = "/resource" target="_blank">網站資料來源檢索 </a>&nbsp;&nbsp;|
    <a rel="license" href="/copyright" target="_blank">授權聲明</a>&nbsp;&nbsp;|
    <a rel="license" href="/privacy" target="_blank">隱私權政策</a>
  </span>
</div>
<div class="f-right">
  <a href="https://play.google.com/store/apps/details?id=netdbncku.lab.dengue&hl=zh_TW"><img class="android" src="{{path}}dist/src/img/android.png"/ alt="掌蚊人 android app"></a>
  <a href="https://itunes.apple.com/tw/app/zhang-wen-ren/id1125801886?l=zh&ls=1&mt=8"><img class="ios" src="{{path}}dist/src/img/ios.png" alt="掌蚊人 ios app"/></a>
  <a href="https://www.facebook.com/themosquitoman/"><li id = "facebook"></li></a>
  <a href="/about"><li id = "aboutUs"></li></a>
</div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68710476-2', 'auto');
  ga('send', 'pageview');
</script>
