<footer class = "footer">

<div class="f-left">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a>
  本著作由<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.taiwanstat.com" property="cc:attributionName" rel="cc:attributionURL">掌蚊人團隊</a>製作，以<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">創用CC 姓名標示-非商業性-相同方式分享 4.0 國際 授權條款</a>釋出。
</div>
<div class="f-right">
  <a href="https://www.facebook.com/themosquitoman/"><li id = "facebook"></li></a>
  <a href="./about"><li id = "aboutUs"></li></a>
</div>
</footer>
