<!DOCTYPE HTML>
<html lan="en">
<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./css/home.css">
  <title> The Mosquito Man </title>
</head>
<body style= "background-color:white;overflow-x:hidden;">
  {{> header }}

	<div class= "back-black"></div>
		<div class = "wrap">
		<div class = "background" data-0="top:0%;left:0%;" data-90p="top:-100%" data-130p = "top:-110%;" data-160p="top:-120%" data-320p = "top:-200%;left:0%;" data-340p = "top:-200%;left:0%;" data-400p = "left:-95%;" data-460p = "left:-95%;" data-540p = "left:-175%;">
			<img src = "src/img/color-background-1.svg">
			<img src = "src/img/color-background-2.svg">
			<div class = "horizontal">
				<img src = "src/img/color-background-3.svg" >
				<img src = "src/img/4-background.svg">
				<img src = "src/img/5-background.svg" id = "background5">
			</div>
		</div>

		<!-- section1 -->
		<div class = "mosquito-container mos-main" data-0 = "opacity:1;right:9%;" data-90p = "opacity:0;right:9%;">
			<div id ="mosquito"></div>
		</div>

		<div class = "mos-after mos-disappear mos1" >
			<div id ="mosquito"></div>
		</div>

		<div class = "mos-after mos-disappear mos2" >
			<div id ="mosquito"></div>
		</div>

		<div class = "mos-after mos-disappear mos3" >
			<div id ="mosquito"></div>
		</div>

		<div class = "mos-after mos-disappear mos4" >
			<div id ="mosquito"></div>
		</div>

		<div class = "mainTitle" data-0="opacity:1;display:block;" data-80p="opacity:0;display:none;">
			<img class = "logo-title" src = "src/img/1-title.svg" >

			<img class = "section1-text" src = "src/img/1-text.svg" >
		</div>

		<!-- Section2 -->			
		<!-- 2-mosss.svg檔案太大，只好用png！！ 找冠穎解決！ -->
		<img id = "mosss" src = "src/img/2-mosss.png" data-0p ="top:0%;left:-100%;" data-90p="top:11%;left:2%;" data-130p="top:11%;left:4%;" data-160p="top:40%;left:120%;">

		<img id = "section2-text" src = "src/img/2-text.svg" data-70p = "display:none;" data-80p ="display:block;left:50%;opacity:0;" data-100p="display:block;left:50%;opacity:1;" data-140p="display:block;left:50%;opacity:1;" data-180p="display:none;left:50%;opacity:0;">

		<img id = "bottle" src = "src/img/2-bottle.svg" data-130p="bottom:-100%;opacity:1;" data-160p="bottom:0%;" data-220p = "opacity:1;" data-225p = "opacity:0;">

		<img id = "bottle-2" src = "src/img/2-bottle.svg" data-130p="bottom:-100%;opacity:1;" data-160p="bottom:0%;" data-220p = "opacity:1;" data-225p = "opacity:0;">


		<!-- section3 -->

		<img class = "bone" id = "bone1" src = "src/img/3-bone.svg" data-220p = "bottom:-100%;" data-280p = "bottom:-10%;" data-320p = "bottom:-5%;" data-340p = "left:5%" data-380p = "left:-100%;">

		<img id = "tsunami" src = "src/img/3-tsunami.svg" data-150p = "bottom:-100%;width:100%;left:0%;opacity:1;" data-190p = "bottom:-40%;width:100%;" data-220p = "bottom:-40%;width:100%;"  data-320p = "bottom:0%;width:200%;left:0%;" data-380p = "left:-100%;opacity:0;">

		<img id = "section3-text" src = "src/img/3-text.svg" data-220p = "opacity:0;left:11%" data-260p = "opacity:1;" data-340p = "left:11%" data-380p = "left:-100%;">

		<!-- section4 -->
		<img id = "theMosquitoMan" src = "src/img/4-man.svg" data-360p = "left:50%;opacity:0;bottom:-100%;" data-400p = "opacity:0;bottom:20%;" data-430p = "left:50%;opacity:1;bottom:30%;" data-460p = "left:50%;opacity:1;bottom:30%;"data-510p = "left:20%;opacity:0">

		<div class = "cloud" data-360p = "opacity:0;" data-390p = "opacity:1;" >
			<div class = "cloud-col">
				<img class = "cloud01" src="src/img/cloud-1.svg" alt="叫我雲">
				<img class = "cloud02" src="src/img/cloud-2.svg" alt="叫我雲" >
				<img class = "cloud03" src="src/img/cloud-3.svg" alt="叫我雲">
			</div>

			<div class = "cloud-col">
				<a href="./knowledge" class ="cloud-button cloud-button_1 shake-little">
					<p id = "button-p_1" data-520p = "opacity:0;transform:scale(0.2) rotateZ(0deg);" data-540p = "opacity:1;transform:scale(1) rotateZ(1080deg);">蚊風喪膽</p>
					<img class = "cloud04" src="src/img/cloud-4.svg" alt="叫我雲">
				</a>
				<img class = "cloud05" src="src/img/cloud-5.svg" alt="叫我雲" >

				<a href="./killer" class ="cloud-button cloud-button_2 shake-little">
					<p class = "shake-little" id = "button-p_2" data-520p = "opacity:0;transform:scale(0.2) rotateZ(0deg);" data-540p = "opacity:1;transform:scale(1) rotateZ(1080deg);">降蚊十八招</p>
					<img class = "cloud07" src="src/img/cloud-7.svg" alt="叫我雲">
				</a>
				<img class = "cloud06" src="src/img/cloud-6.svg" alt="叫我雲">
			</div>

		</div>
		
		<div class = "section4-text" data-360p = "left:15%;opacity:0;transform:scale(0.5);"  data-390p = "opacity:1;transform:scale(1.3);" data-460p = "left:15%;opacity:1;" data-510p = "left:-5%;opacity:0">
			<img id = "section4-text_1" src = "src/img/4-text.svg">
			<img id = "section4-text_2" src = "src/img/4-text2.svg" data-400p = "opacity:0;bottom:-10%;" data-430p = "opacity:1;bottom:0%;">
		</div>

		<!-- section5 -->
		<div class = "man-run-container" data-460p = "left:-30%;opacity:0" data-510p = "left:0%;opacity:1">
			<div class = "man-run"></div>

		</div>
  </div>
<script src ="./src/jquery-2.2.4.min.js"></script>
<script src="./src/skrollr.js"></script>
<script src="./js/controll.js"></script>
<script src ="./js/nav.js"></script>
<script src="./js/index.js"></script>
</body>
</html>
