<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./dist/css/interacting.css">
</head>

<body style="overflow-x:hidden;">
  
  {{>header}}
  
  <div class = "section" >
		<!-- 頁面開始 -->
		<div class="title-bar">
		  <h1>練武功</h1>
		</div>
    <div class="bg_cloud"></div>
    
    <div class = "obj">

      <div class = "full">
        <div id = "box-left" class = "box select-left">
          <h2>掌蚊人遊戲</h2>
          <p>有一人自創「降蚊十八招」...</p>
        </div>
        <div id = "box-right" class = "box select-right">
          <h2>掌蚊人遊戲</h2>
          <p>有一人自創「降蚊十八招」...</p>
        </div>
      </div>

      <svg id = "slide-bar-l" class="side-bar">
        <polygon id = "t-l" class = "triangle" points="125,10 125,160 25,85" />
        <rect class = "top-l-rect" x="-30" y="78" width="135" height="5"/>
      </svg>

      <div class = "main">
        <!-- 比賽 -->
        <div class = "board active" id = "interact_1">
          <div class = "intro-text">
            <h2>群眾集力環境回報比賽</h2>
            <p>雨後找積水，Iphone 任你選。</br>讓我們一起來守護環境吧。</p>
          </div>
        </div>

        <!-- 比賽 -->
        <div class = "board" id = "interact_2">
          <div class = "intro-text">
            <h2>【掌蚊人】遊戲</h2>
            <p>天地不仁，以萬物為芻狗</br>吾號掌蚊人，自創降蚊十八招。</br>誓死滅蚊！</p>
          </div>
        </div>

        <div class = "box-bottom">
          <img id = "sm-left" class = "sm-select select-left" src="../dist/src/img/interact/left.svg" alt="選取上一個">
          <div class ="circle">
           ● 
          </div>

          <p id ="enter_text">點擊按鈕進入喔！</p>
          <div id = "sound" class = ""></div>
          
          <img id = "sm-right" class = "sm-select select-right" src="../dist/src/img/interact/right.svg" alt="選取下一個">
        </div>

        <div class = "shadow"></div>

      </div>
      <svg id = "slide-bar-r" class="side-bar">
        <polygon id = "t-r" class = "triangle" points="0,10 100,85 0,160" />
        <rect class = "top-r-rect" x="-4" y="3" width="135" height="5"/>
      </svg>
    </div>
  </div>

  <audio id="bgm_competition" autoplay loop>
    <source src="../dist/audio/competition.mp3" type="audio/mp3">
  </audio>
  <audio id="bgm_game" preload loop>
    <source src="../dist/audio/game.mp3" type="audio/mp3">
  </audio>

  {{> footer}}
</body>
<!-- jquery -->
<script src="./dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="./dist/js/nav.js"></script>
<script src="./dist/js/interacting.js"></script>
</html>
