<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./dist/css/notBuild.css">

  <!-- shake CSS -->
  <link type = "text/css" rel = "stylesheet" href = "./dist/src/shake/csshake-crazy.min.css">
  <title> 練武功 || The Mosquito Man </title>
</head>

<body style="overflow-x:hidden;">
  
  {{>header}}

  <div class="notBuildBox">
    <img id="mosss" src="./dist/src/img/2-mosss.png">
    <div id="text">
      <p> 遊戲封測中....</p>
    </div>
    <img src="./game/Mosquito_war/images/intro_man.png"/>
  </div>


  <div class="mos-after mos-disappear mos1">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos2">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos3">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos4">
    <div id="mosquito"></div>
  </div>

</body>
<!-- jquery -->
<script src="./dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="./dist/js/nav.js"></script>
<!-- noBuild.js -->
<script src="./dist/js/noBuild.js"></script>

</html>
