<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./css/killer.css" >
  <title> 降蚊十八招 || The Mosquito Man </title>
</head>

<body style= "overflow-x:hidden;">
  {{> header }}

	<!-- section 100% -->
	<div class = "section" >
		<!-- 頁面開始 -->
		<div class="title-bar">
		  <h1>降蚊十八招</h1>
		</div>
		<div class ="section1-h">
			<div class = "intro-killer">
				<div class = "intro-killer-content">
					<h1 id= "intro-killer-title">掌蚊。心法：</h1>
					<p>天下武功，為快不破<br><span class ="font-big-to-dbig red"> “快速提早預防，勝過後期噴藥清潔”</span></p>
					<p>登革熱是一種環境病，留意周遭的環境衛生，不用看醫生<br><span class ="font-big-to-dbig red"> “沒有病媒蚊，就沒有登革熱”</span></p>
					<p>孫子兵法，「知己知彼，百戰百勝」<br><span class ="font-big-to-dbig red"> “殺蚊子之前，必定要先了解蚊子”</span></p>
				</div>
			</div>

			<div class = "button">
			  <svg class="svgYa">
			    <rect id = "rect1" x="15" y="10" width="15" height="8" />
			    <rect id = "rect2" x="15" y="25" width="15" height="8" />
			    <rect id = "rect3" x="15" y="40" width="15" height="8" />
			    <rect id = "rect4" x="15" y="55" width="15" height="8" />
			    <rect id = "rect5" x="15" y="70" width="15" height="8" />
			    <rect id = "rect6" x="15" y="85" width="15" height="8" />
			    <rect id = "rect7" x="15" y="100" width="15" height="8" />
			    <polygon id = "triangle8" points="0,115 45,115 23,135" />
			  </svg>
			  <div id="button_knowledge" onclick = "window.location.href = 'knowledge.html'">蚊風喪膽</div>
			</div>
		</div>

	</div>

	<!-- section 100% -->
	<div class = "section">

		<h1 id = "sub-title-bar">掌蚊。三式：</h1>

		<div class ="select-page">
			<div class ="page-box" id = "select-page-1">
				<p class = "nameText">上冊</p>
				<h1>防疫篇</h1>
				<p class ="sub-boxText">打造健康無病環境</p>
			</div>
			<div class ="page-box" id = "select-page-2">
				<p class = "nameText">下冊</p>
				<h1>病人篇</h1>
				<p class ="sub-boxText">如果我中標了，該怎麼辦？</p>
			</div>
			<div class ="page-box" id = "select-page-3">
				<p class = "nameText">外傳</p>
				<h1>生活篇</h1>
				<p class ="sub-boxText">居家生活好夥伴</p>
			</div>
		</div>

	</div>

	
	<!-- 武功祕笈頁面 -->
	<div class ="page display-none">
		<div class = "select-top-box">
			<div class = "h-page-title" id = "select-1">
				<h2>上冊</h2>
				<h1>防疫篇</h1>
				<p>打造健康無病環境</p>
			</div>

			<div class = "h-page-title" id = "select-2">
				<h2>下冊</h2>
				<h1>病人篇</h1>
				<p>如果我中標了...</p>
			</div>

			<div class = "h-page-title" id = "select-3">
				<h2>外傳</h2>
				<h1>生活篇</h1>
				<p>居家生活好夥伴</p>
			</div>
		</div>

		<!-- ＊＊＊
			page1
		＊＊＊ -->
		<ul class = "display-none" id = "page-1">
			<li class ="box-bar1 bar-page bar-close bar-color-reverse" id = "page1-bar1">
				<div class="page-close-title">
					<h1 >一手遮蚊<span class = "font-sub-to-big">不讓斑蚊進屋中</span></h1>
				</div>

				<div class="page-title">
					<p>“不讓斑蚊進屋中”</p>
					<h1>一手遮蚊</h1>
				</div>
				<ul class = "page-ul-list">
					<li>在家中裝設紗窗、紗門，盡量不要讓蚊蟲進屋，睡覺時掛起蚊帳，避免蚊蟲叮咬。</li>
					<li>使用捕蚊燈或電蚊拍（蚊香具驅蚊效果），陰暗處或是地下室應定期巡檢。</li>
					<li>若有放在戶外的廢棄輪胎、積水容器等物品馬上清除，沒辦法處理的請通知清潔隊運走。</li>
				</ul>
			</li>

			<li class ="box-bar2 bar-page bar-close bar-color-reverse" id = "page1-bar2">
				<div class="page-close-title">
					<h1>縮蚊成寸<span class = "font-sub-to-big">容器倒放、垃圾減量</span></h1>
				</div>

				<div class="page-title">
					<p>“容器倒放、垃圾減量”</p>
					<h1>縮蚊成寸</h1>
				</div>
				<ul class = "page-ul-list">
					<li>清除不需要的容器，像花瓶、瓶蓋、缸盆、保麗龍、餅乾盒等，減少垃圾。</li>
					<li>把暫時不需要用的容器「倒放」，以免積水。</li>
				</ul>
			</li>

			<li class ="box-bar3 bar-page bar-close" id = "page1-bar3">
				<div class="page-close-title">
					<h1>蚊風而滅<span class = "font-sub-to-big">清新香香、蚊子不來</span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“清新香香，蚊子不來”</p>
					<h1 >蚊風而滅</h1>
				</div>
				<ul class = "page-ul-list">
					<li>利用天然的味道 ex:大蒜、大豆油、黑胡椒、花香等驅逐蚊子。</li>

					<p class = "ps">1、大蒜。 吃大蒜後人會分泌一種味道，蚊子就會躲得遠遠的。吃大蒜前，最好先將其切成薄片，放置15分鐘，驅蚊效果更好。可將大蒜切片，放在紗窗上塗抹，阻止蚊子進入室內，或把蒜頭植於花盆四周，讓其特殊的辛辣味隱隱飄散，平日兇猛的蚊子馬上銷聲匿跡。</p>
					<p class = "ps">2、大豆油。 美國《新英格蘭醫學雜誌》刊登一項新研究發現，由大豆油製成的驅蚊劑與一般驅蚊劑同樣有效。另外，大豆油具有極好的潤膚功效，取少量塗抹在身體暴露的位置，既護膚又防蚊。</p>
					<p class = "ps">3、黑胡椒。 上述研究還發現，黑胡椒也具有明顯的驅蚊蟲功效。平時可以將其撒在門口或是花盆邊緣，防止蚊蟲滋生和入侵。</p>
					<p class = "ps">4、薰衣草。 這種香氣驅蚊效果很理想。最好將薰衣草精油用大豆油等稀釋後再使用。</p>
					<p class = "ps">5、蓮科植物。 《亞太熱帶醫藥雜誌》刊登一項新研究發現，蓮花等蓮科植物是一種有效的驅蚊劑，同時還能殺滅蚊子的幼蟲。</p>
					<p class = "ps">6、貓薄荷（也稱樟腦草）。 研究發現，貓薄荷會令蚊子「害怕」，其精油的驅蚊效果是驅蚊露的10倍。</p>

					<p class ="ps">P.s. 有些植物的花香太過濃烈，有哮喘或者對花粉過敏的人皆不適宜，可能會造成呼吸不暢。</p>
				</ul>
			</li>

			<li class ="box-bar4 bar-page bar-close" id = "page1-bar4">
				
				<div class="page-close-title">
					<h1>四步殺蚊<span class = "font-sub-to-big">清除滋生源四口訣</span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“清除滋生源”四口訣</p>
					<h1>四步殺蚊</h1>
				</div>
				<ul class = "page-ul-list">
					<li>「巡」─經常巡檢，檢查居家室內外可能積水的容器。</li>
					<li>「倒」─倒掉積水，把不要的器物丟棄。</li>
					<li>「清」─減少容器，使用的器具也都應該澈底清潔。</li>
					<li>「刷」─去除蟲卵，收拾或倒置勿再積水養蚊。</li>
				</ul>
			</li>

			<li class ="box-bar5 bar-page bar-open" id = "page1-bar5">
				<div class="page-close-title">
					<h1>伏虎降蚊<span class = "font-sub-to-big">掌握三淨法則</span></h1>
				</div>

				<div class="page-title">
					<p>掌握“三淨”，「倒、刷、晾」乾淨</p>
					<h1>伏虎降蚊</h1>
				</div>
				<ul class = "page-ul-list">
					<li>「倒」乾淨：水桶陶甕要倒放，使用記得要加蓋</li>
					<li>「刷」乾淨：盆栽花瓶勤換水，每週清洗最安心</li>
					<li>「晾」乾淨：遮蓋帆布要拉平，窪地積水要填平</li>
				</ul>
			</li>

			<li class ="box-bar6 bar-page bar-close" id = "page1-bar6">
				<div class="page-close-title">
					<h1>抓蚊在天<span class = "font-sub-to-big">善用抓蚊法寶</span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“善用抓蚊法寶”</p>
					<h1>抓蚊在天</h1>
				</div>
				<ul class = "page-ul-list">
					<li>糖罐<br> - 是最廣為人知的捕蚊手法，藉著砂糖發酵時所產生的「二氧化碳」，吸引蚊子。結果發現，對蚊子而言，經由酵母產生的二氧化碳比工業用的二氧化碳更具吸引力，因為前者可以導致揮發性物質的產生；而若能同時具有人體足部的味道，則更能加強誘引。</li>
					<li>鹼水盆<br> - 看此<a target = "_blank" href="http://wholesale.bookmarks.tw/mosquito/tip">連結</a></li>
				</ul>
			</li>

			<li class ="box-bar7 bar-page bar-close" id = "page1-bar7">
				<div class="page-close-title">
					<h1>防蚊神體<span class = "font-sub-to-big">預防叮咬，身強體健</span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“預防叮咬，身強體健”</p>
					<h1>防蚊神體</h1>
				</div>
				<ul class = "page-ul-list">
					<li>常洗澡，保持皮膚清爽，流汗時及時擦去汗液。 </li>
					<li>在戶外或蚊蟲多的地方，盡量穿淺色長袖衣褲。</li>
					<li>多吃洋蔥、大蒜、高麗菜、綠花椰菜，讓蚊子遠離你。</li>
					<p class = "ps">小知識：
					<br>1.蚊子叮咬的高峰期為「朝九晚五」，早上 9-10 點，下午 4-5 點。
					<br>2.外出盡量穿襪子。許多人喜歡光腳穿鞋，據研究顯示，其實穿襪子后，蚊子會感覺人的皮膚濕度降低、皮表揮發物減少，減少叮咬。</p>
				</ul>
			</li>

			<li class ="box-bar8 bar-page bar-close bar-color-reverse" id = "page1-bar8">
				<div class="page-close-title">
					<h1>蚊的傳人<span class = "font-sub-to-big">正確使用防蚊藥品</span></h1>
				</div>

				<div class="page-title">
					<p>“正確使用防蚊藥品”</p>
					<h1>蚊的傳人</h1>
				</div>
				<ul class = "page-ul-list">
					<li>建議噴灑或塗抹在皮膚裸露處（距離皮膚或衣服15公分左右），讓其在皮膚表面形成保護膜以預防蚊蟲叮咬。</li>
					<li>防蚊液產品的外包裝會標示藥品許可證字號，同時印有「衛署藥製」、「衛部藥製」或「內衛成製」，可使用在皮膚上。</li>
					<li>自製的天然香草精油，加上香茅、尤加利、薄荷精油可製成草本防蚊液，效果約可持續一到兩小時，需時常補充。</li>
					<li>未滿1歲的寶寶，不建議噴灑防蚊液以免皮膚吸收。</li>

					<p class = "ps">小知識：防蚊藥品中DEET濃度與藥效並無直接關係，而是與藥效持續時間有關，一般來說，較高濃度的DEET能提供較持久的防蚊保護。流汗較多或發現蚊子開始在身邊盤旋聚集時，則建議應要補擦了。</p>

					<p class = "ps"><a href="http://www.fda.gov.tw/TC/newsContent.aspx?id=14012&chk=ccf56c28-c99c-4da2-926c-d20c89ec5d1a#.Vz6ZQjYdBZR"> 防蚊產品補充知識</a></p>
				</ul>
			</li>
			<li class ="box-bar9 bar-page bar-close bar-color-reverse" id = "page1-bar9">
				<div class="page-close-title">
					<h1>呼叫外援<span class = "font-sub-to-big">衛生局噴藥大師</span></h1>
				</div>

				<div class="page-title">
					<p>“只能請衛生局噴藥了”</p>
					<h1>呼叫外援</h1>
				</div>
				<ul class = "page-ul-list">
					<li>「噴藥」，只能算是一種從外部施予強效藥的手段，無法消滅積水容器中的孑孓，絕對無法「治本」。呼籲大家若想生活在一個安心健康的環境，一定要從自身習慣、生活做起。</li>

					<p class = "ps">情況：<br>
					(1)如果沒有出國旅遊卻突然發病？<br>
					(2)周遭有人罹患登革熱？<br>
					(3)我都已經清乾淨了，可是我真的很害怕...<br>
					</p>
					<p class = "ps">表示居家附近「可能」已經存在攜帶病毒的病媒蚊，因此希望配合當地衛生局進行噴藥，清除「已經攜帶病毒的病媒蚊」以及「尚未攜帶病毒的病媒蚊」。現在有很多人並不喜歡讓衛生局人員進入家中噴藥或清除孳生源，不過若不緊急噴灑殺蟲劑消滅帶病成蚊的話，疾病流行可能會更加嚴重。</p>
				</ul>
			</li>
		</ul>


		<!-- ＊＊＊
			page2
		＊＊＊ -->
		<ul class = "display-none" id = "page-2">
			<li class ="box-bar1 bar-page bar-close bar-color-reverse" id = "page2-bar1">
				<div class="page-close-title">
					<h1 >多補充維生素<span class = "font-sub-to-big">維持體內水分</span></h1>
				</div>

				<div class="page-title">
					<p>“維持體內的水分，是對抗登革熱的關鍵”</p>
					<h1>飲食訣竅：多補充維生素！</h1>
				</div>
				<ul class = "page-ul-list">
					<li>飲食訣竅為「健康五蔬果」、「少肉蛋奶的飲食」。<br>因植物性為主的飲食不但環保、健康、防癌、又抗病毒，而且患者身體會異常虛弱，所以多攝食蔬果，維持體內水份的平衡才是對抗關鍵。</li>
					<p class = "ps">小知識： 動物性食品中含豐富的動物唾液酸，被人體吸收後會在體內形成登革病毒、瘧疾原蟲和致命性大腸桿菌毒素的特別通道，導致人們對蚊子媒介的傳染病、細菌毒素和禽流感的高度敏感性，造成感染後很容易變成重症的不幸後果。</p>
				</ul>
			</li>

			<li class ="box-bar2 bar-page bar-close bar-color-reverse" id = "page2-bar2">
				<div class="page-close-title">
					<h1>外出著裝技巧<span class = "font-sub-to-big">防蚊神體</span></h1>
				</div>

				<div class="page-title">
					<p>“只要不再被叮咬，疾病就不會繼續傳播”</p>
					<h1>外出：淺色長褲長袖＋塗抹防蚊液</h1>
				</div>
				<ul class = "page-ul-list">
					<li>外出時，請著淺色長褲長袖，並避免二次叮咬，不只是保護自己二次中標，也是避免疾病繼續傳播的可能性。</li>
					<p class = "ps">小知識： <br>
					1.雖然病媒蚊存在，但只要發病的人不被叮咬，疾病就不會繼續傳播<br>
					2.只有攜帶病毒的病媒蚊才會傳播疾病</p>
				</ul>
			</li>

			<li class ="box-bar3 bar-page bar-close" id = "page2-bar3">
				<div class="page-close-title">
					<h1>遵照醫師指示<span class = "font-sub-to-big"></span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“大約一星期內開始逐漸康復”</p>
					<h1 >配合：一定要遵照醫師的指示服藥</h1>
				</div>
				<ul class = "page-ul-list">
					<li>患者應按時服藥，多休息喝水。</li>
					<li>發病前一日及後五日內，體內血液含有登革病毒，應避免「再」被登革熱病媒蚊叮咬，以免病毒擴散危及家人及鄰居之健康，並清除居家環境內外各類積水容器，不使病媒蚊孳生。</li>
				</ul>
			</li>

			<li class ="box-bar4 bar-page bar-close" id = "page2-bar4">
				
				<div class="page-close-title">
					<h1>勿過早篩檢<span class = "font-sub-to-big">善用醫療資源</span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">善用醫療資源</p>
					<h1>勿：過早篩檢</h1>
				</div>
				<ul class = "page-ul-list">
					<li>建議在發燒後的第三天（滿 48 小時後）去抽血檢驗。</li>
					<li>登革熱從發病開始第一二天去檢查，會有比較高的機會驗不出來。而且前一兩天會變嚴重的機會並不大。</li>
					<p class = "ps">P.S. 太早跑去檢驗，會導致病情的誤判</p>
				</ul>
			</li>

			<li class ="box-bar5 bar-page bar-open" id = "page2-bar5">
				<div class="page-close-title">
					<h1>靜心休養<span class = "font-sub-to-big">多休息、補充水份</span></h1>
				</div>

				<div class="page-title">
					<p>多休息、補充水份</p>
					<h1>原則：靜心休養</h1>
				</div>
				<ul class = "page-ul-list">
					<li>目前還沒有特效藥物可以治療登革熱，所以登革熱病人，一定要聽從醫師囑咐多休息、多喝水、適時服用退燒藥。</li>
					<li>發病後5天內，要避免蚊蟲叮咬。通常登革熱患者在感染後兩週左右，可自行完全痊癒。</li>
				</ul>
			</li>

			<li class ="box-bar6 bar-page bar-close" id = "page2-bar6">
				<div class="page-close-title">
					<h1>勿以為燒退就好<span class = "font-sub-to-big"></span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“絕對要注意”</p>
					<h1>勿：以為燒退了就沒事</h1>
				</div>
				<ul class = "page-ul-list">
					<li>若有登革出血熱發生出血或休克的時間，大多是在發燒將要退的時候或是燒退了之後24- 48小時發病。</li>
					<li>家屬應留意病人病情之變化，若病人臉色蒼白、呼吸急促、四肢冰冷、盜冷汗、坐立不安或有出血現象時，即要馬上看醫生</li>
				</ul>
			</li>

			<li class ="box-bar7 bar-page bar-close" id = "page2-bar7">
				<div class="page-close-title">
					<h1>注意危險徵象<span class = "font-sub-to-big">儘速就醫！</span></h1>
				</div>

				<div class="page-title">
					<p class = "color-back1">“若有以下狀況，以上皆不成立，儘速就醫！”</p>
					<h1>注意：危險徵象</h1>
				</div>
				<ul class = "page-ul-list">
					<li>自發性出血現象，如牙齦出血、流鼻血、皮下出血、消化道出血、或女性月經大量流血。</li>
					<li>嚴重腹痛</li>
					<li>持續性嘔吐</li>
					<li>明顯的倦怠</li>
					<li>坐立難安（小孩可能就是容易哭鬧，不易安撫來表現）</li>
					<li>沒發燒時，四肢冰冷，臉色蒼白</li>
					<li>超過六小時沒有解尿</li>
					<li>呼吸困難</li>
				</ul>
			</li>

			<li class ="box-bar8 bar-page bar-close bar-color-reverse" id = "page2-bar8">
				<div class="page-close-title">
					<h1>患者自主通報<span class = "font-sub-to-big">可領取獎金</span></h1>
				</div>

				<div class="page-title">
					<p>“登革熱確診後，自主通報依法還可領取2500元獎勵金”</p>
					<h1>患者自主通報</h1>
				</div>
				<ul class = "page-ul-list">
					<li>依據傳染病防治獎勵辦法，只要主動至主管機關接受登革熱篩檢，或其他經中央主管機關指定之傳染病檢體篩檢，並經主管機關證實為境外移入病例或本土病例的民眾，每例得發給通報獎金新台幣2500元。</li>
					<p class = "ps">P.s. 只有到衛生所等公家醫療單位，自主通報經篩檢確診登革熱後，才符合資格，如果自行到醫院就醫，所確診的病例，就不符合獎勵資格唷！</p>
				</ul>
			</li>
			<li class ="box-bar9 bar-page bar-close bar-color-reverse" id = "page2-bar9">
				<div class="page-close-title">
					<h1>噴藥注意事項<span class = "font-sub-to-big">注意唷</span></h1>
				</div>

				<div class="page-title">
					<p>“有注意！有保庇！”</p>
					<h1>「噴藥」注意事項</h1>
				</div>
				<ul class = "page-ul-list">
					<li>若是無人在家或是單位，衛生單位會帶鎖匠來強制開門噴藥，這是依據傳染必防治法第38條授權。</li>
					<li>噴藥前：<br>
					1.家中如有無法行動長者速與衛生所聯絡, 事先安排 119 協助暫時安置 <br>
					2.噴藥前請先將室內、外可能成為病媒蚊孳生源之積水容器徹底清除<br>
					3.人或寵物應到屋外並將各樓層門窗緊閉，不可待在室內，若有飼養魚類，請將於剛蓋好並拔掉打氣用電源，避免接觸藥劑。<br>
					4.重要物品請收拾好或蓋好，食物收妥或放置冰箱</li>
					<li>噴藥後：<br>
					1.建議等30分鐘後再戴口罩進入戶內，打開門窗通風後，即可恢復正常作息。<br>
					2.較常接觸或使用的物品，建議使用溼布或地板 清潔劑擦拭即可。<br>
					3.依照傳染病防治法第38條，公司行號與政府機關應給予公假，如需請假證明，請於噴藥當天洽詢衛生所同仁。</li>
					<p class = "ps">P.s.老年人孕婦及罹患氣喘、氣道敏感者, 請於門窗通風完全後再行進入。
					附上：<a href = "http://web.kmu.edu.tw/~student/DF/data/gui/DF_c.pdf" terget = "_blank">政府公告注意事項</a></li>
				</ul>
			</li>
		</ul>

		<ul class ="display-none"id = "page-3">
			<li class ="box-bar9 bar-page bar-open bar-color-reverse" id = "page3-bar5">
				<div class="page-close-title">
					<h1>資料建置中...</h1>
				</div>

				<div class="page-title">
					<p>“我們會努力ＱＱ”</p>
					<h1>資料建置中...</h1>
				</div>
				<ul class = "page-ul-list">
					<li>如題，資料建置中... 幫ＱＱ</li>
					<p class = "ps"><a href = "http://wendy688.pixnet.net/blog/post/32421936-" >推薦家庭實用文</a></p>
				</ul>
			</li>
		</ul>

	</div>

	<footer class = "footer">
		<p> <span>©</span> ALL RIGHT RESERVED TO THE MOSQUITO MAN</p>
		<li id = "facebook"></li>
		<li id = "aboutUs"></li>
	</footer>

</body>

<!-- jquery -->
<script src ="./src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src ="./js/nav.js"></script>
<script src ="./js/killer.js"></script>
</html>
