<!DOCTYPE HTML>
<html lan="en">

<head>
  
  <!-- normalize.css -->
  {{> head }}

  <link type="text/css" rel="stylesheet" href="./dist/css/knowledge.css" >

</head>

<body style= "overflow-x:hidden;">
  {{>header}}
	<!-- 頁面開始 -->
	<div class="title-bar">
	  <h1>蚊風喪膽</h1>
	</div>

	<div class="whats-dengue-text">
	  <div class="topic-title">
	    <h1>什麼是<span class = "red">登革熱</span>？</h1>
	  </div>
	  <div class="topic-content">
	    <p><span id = "whats-dengue-text-p1">登革熱是一種大家都聽過卻又感到陌生的傳染病，其症狀有點像發燒、感冒，所以常常被忽略。</span>
	      <br><span class="font-normal-to-big yellow">嚴重時會感到生不如死，有一定的死亡風險。</span></p>
	    <p>登革熱分別有 I、II、III、IV 四種型別，因此有可能同時得到兩種不同型別，發展成為重症登革熱。如果沒有及時就醫或治療，死亡率高達 <span class="inc_int">20%</span> 以上！ </p>
	  </div>
	</div>


	<div class="section1-bot">
		<div class = "how-can-do">
			<h1 class="section1-text">我該怎麼辦？</h1>
		  <svg class="svgYa">
		    <rect id = "rect1" x="222" y="10" width="15" height="8" />
		    <rect id = "rect2" x="222" y="25" width="15" height="8" />
		    <rect id = "rect3" x="222" y="40" width="15" height="8" />
		    <rect id = "rect4" x="222" y="55" width="15" height="8" />
		    <rect id = "rect5" x="222" y="70" width="15" height="8" />
		    <rect id = "rect6" x="222" y="85" width="15" height="8" />
		    <rect id = "rect7" x="222" y="100" width="15" height="8" />
		    <polygon id = "triangle8" points="210,115 250,115 230,135" />
		  </svg>
      <a href="./killer">
        <div id="button_killMosquito">降蚊十八招</div>
      </a>
	  </div>
	</div>

	<div class="section2-top">
		<div class = "man-run-container-animation">
			<div class = "man-run"></div>
		</div>

	  <!-- mainTitleBox -->
	  <div class="mainTitleBox" id="section2-mainTitle">
	    <div class="leftBar"></div>
	    <h1><span class = "red">登革熱</span>傳染媒介</h1>
	  </div>
	</div>

	<div class="section2-bot">
	  <div class="section2-bot-subText">
	    <p id = "section2-bot-subText-p1">登革熱不像一般的感冒，而是單純藉由<span class="red">「埃及斑蚊」</span>和<span class="red">「白線斑紋」</span>傳播， 被蚊子叮咬時才會將病毒傳播入人體，需要注意的是沒有帶有病毒的斑蚊，若叮到了得登革熱的病患，則會使蚊子帶入病毒進而叮咬更多人。
	    </p>
	    <p class="font-sub-to-big">一旦蚊子有了登革熱病毒，其終其一生都具有登革熱傳染力</p>
	  </div>
	  <div class="section2-bot-horizon">
	    <div class="section2-box">
	    	<div class ="box-mosquito">
	    		<img src = "./dist/src/img/knowledge/mosquito-egypt.jpg" alt="埃及斑蚊圖示">
	    		<p>埃及斑蚊</p>
	    	</div>
	    	<div class ="box-mosquito">
	    		<img src = "./dist/src/img/knowledge/mosquito-white.jpg" alt="白線斑紋圖示">
	    		<p>白線斑蚊</p>
	    	</div>
	    </div>

	    <div class="section2-bot-horizonContent">
	      <p>埃及斑蚊與白線斑蚊均喜歡<span class ="red font-normal-to-big">白天活動</span>，高峰期約於午後四、五點及上午九點左右，白天時須特別小心。</p>
	      <p>白線斑蚊喜歡戶外，且台灣全島皆有分布。就算是北部也要注意戶外防蚊，像社子島、陽明山等空曠的地方，都曾發生過登革熱群聚感染事件。</p>
	      <p class="font-bold">埃及斑蚊喜歡室內，主要分佈在北緯23度以南（濁水溪以南）台南、高雄...等地區，<span class="font-normal-to-big red">因此南部的朋友不管是在戶外、室內時皆須特別注意。</span></p>
	    </div>
	  </div>
	</div>


	<div class="section3-top">
		<div class = "man-run-container-animation">
			<div class = "man-run"></div>
		</div>
	</div>

	<div class="section3-bot">

	  <!-- mainTitleBox -->
	  <div class="mainTitleBox" id="section3-mainTitle">
	    <div class="leftBar"></div>
	    <h1><span class = "red">登革熱</span>症狀</h1>
	  </div>

	  <div class="section3-horizon">
	    <div class="section3-h-left">
	      <p><span class="font-big-to-dbig blue">得了會怎樣？&nbsp;&nbsp;發燒、身體痠痛...甚至會有一種骨頭快斷掉一樣的感覺，又稱斷骨熱！</span><br><span class = "section3-left-text">不只是以上症狀，同時還會出現後眼窩疼痛、食慾不振...等多種症狀，因此大部分輕微患者很難判斷自己是否確定染上登革熱，只能依靠醫院快篩做分辨。</span></p>
	      <p class="font-bold"><span class="red">只要在疫區，又有以上症狀都很有可能是登革熱。</span>
	        <br>小提醒：建議先去小診所或是附近的快篩醫院做檢查，不用特別到大醫院或急診，不只需要排隊等待還有可能耽誤到那些真正嚴重到需要大醫院緊急治療的人。</p>
	      <p><span class="font-big-to-dbig blue">怎樣會得？&nbsp;&nbsp;被叮就會得！</span><br><span class = "section3-left-text">一般人感染病毒經 3 - 8 天的潛伏期後開始發病，但少數人的潛伏期可以達到 14 天。</span>
	        <p>
	          <p class="font-bold red">沒有病媒蚊，就不會被傳染登革熱。
	            <br>減少蚊子孳生源 與 避免被蚊子叮到才是最好的方法。</p>
	    </div>

	    <div class="section3-h-right">
	    	<img src = "./dist/src/img/knowledge/sympton.svg" alt="登革熱病症圖示：後眼窩痛、頭痛、高燒、噁心、食慾不振、肌肉痛、關節痛、出疹">
	    </div>

	  </div>
	</div>


	<div class="section-breedingSource">
	  <!-- mainTitleBox -->
	  <div class="mainTitleBox" id="section-breedingSource-mainTitle">
	    <div class="leftBar"></div>
	    <h1><span class = "red">登革熱</span>孳生源</h1>
	  </div>
	  <p>各種人工容器之積水內，如水缸、廢輪胎、花瓶、水盤、貯水槽、廢容器等之積水。（白線斑蚊亦有可能孳生於樹洞、竹筒等處唷）</p>
	  <div class = "section-breedingSource-div">
	  	<div class = "section-breedingSource-h">
	  		<div class = "section-breedingSource-box">室外</div>
	  		
	  		<div class = "section-breedingSource-box" id = "bottle">
	  			<div class = "back-gray"><p>瓶瓶罐罐</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "tire">
	  			<div class = "back-gray"><p>輪胎</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "roof">
	  			<div class = "back-gray"><p>屋頂</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "bucket">
	  			<div class = "back-gray"><p>水桶</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "styrofoam">
	  			<div class = "back-gray"><p>保麗龍</p></div>
	  		</div>
	  	</div>
	  	<div class = "section-breedingSource-h">
	  		<div class = "section-breedingSource-box">室內</div>
	  		
	  		<div class = "section-breedingSource-box" id = "vase">
	  			<div class = "back-gray"><p>花瓶</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "laundry">
	  			<div class = "back-gray"><p>洗衣機</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "drinking">
	  			<div class = "back-gray"><p>飲水機</p></div>
	  		</div>
	  		
	  		<div class = "section-breedingSource-box" id = "refrigerator">
	  			<div class = "back-gray"><p>冰箱</p></div>
	  		</div>

	  		<div class = "section-breedingSource-box" id = "toilet">
	  			<div class = "back-gray"><p>廁所</p></div>
	  		</div>
	  	</div>
	  </div>
	</div>

	<div class = "section-video">
		<!-- mainTitleBox -->
		<div class = "mainTitleBox" id = "section-video-mainTitle">
			<div class = "leftBar"></div>
			<h1><span class = "red">登革熱 </span>Fun 影片</h1>
		</div>

		<div class = "mosquito-video">
			<div class = "video">
				<iframe src="https://www.youtube.com/embed/VCA-XoHiigc" frameborder="0" allowfullscreen></iframe>
				<p>【兒童故事】登革熱</p>
			</div>
			<div class ="video">
				<iframe src="https://www.youtube.com/embed/Nj_slKSzOxc" frameborder="0" allowfullscreen></iframe>
				<p>【環保微電影】登革熱防治</p>
			</div>
			<div class ="video">
				<iframe src="https://www.youtube.com/embed/P9EQkYeP530" frameborder="0" allowfullscreen></iframe>
				<p>【疾病大作戰】登革熱防治</p>
			</div>
		</div>
	</div>

  {{> footer}}

</body>

<!-- jquery -->
<script src ="./dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src ="./dist/js/nav.js"></script>
</html>
