<!DOCTYPE HTML>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <!-- normalize.css -->
  <link type="text/css" rel="stylesheet" href="./src/normalize.css">

  <link type="text/css" rel="stylesheet" href="./css/qa.css" >

  <title> 有蚊必答 || The Mosquito Man </title>
</head>

<body style= "overflow-x:hidden;">

  {{> header }}
	<!-- 頁面開始 -->
	<div class="title-bar">
		<h1>有蚊必答</h1>
	</div>

	<h1 id = "contextTitle">熱門問題回答集&nbsp;<span class ="open-all">open all</span></h1>

	<div class = "context" id = "q1">
		<div class = "question">
			<h2><span class="questionE">Q1</span>:登革熱會人傳人嗎？</h2>

			<a><p class = "open-answer" >☛ 公佈解答... </p></a>
		</div>

		<div class = "answer-box" id = "a1">
			<p class = "answer">不會。<br>登革熱主要是帶有病毒的病媒蚊叮咬人，病毒經由病媒蚊的唾液傳入人體，不會人直接傳人，也不會透過空氣傳染或接觸傳染。台灣主要的病媒蚊是埃及斑蚊與白線斑蚊，牠們的共同特徵是腳上有白斑。</p>
		</div>
	</div>

	<div class = "context" id = "q2">
		<div class = "question">
			<h2><span class="questionE">Q2</span>:登革熱會人傳人嗎？</h2>

			<a><p class = "open-answer" >☛ 公佈解答... </p></a>
		</div>

		<div class = "answer-box" id = "a2">
			<p class = "answer">不會。<br>登革熱主要是帶有病毒的病媒蚊叮咬人，病毒經由病媒蚊的唾液傳入人體，不會人直接傳人，也不會透過空氣傳染或接觸傳染。台灣主要的病媒蚊是埃及斑蚊與白線斑蚊，牠們的共同特徵是腳上有白斑。</p>
		</div>
	</div>


	<div class = "context" id = "q3">
		<div class = "question">
			<h2><span class="questionE">Q3</span>:登革熱會人傳人嗎？</h2>

			<a><p class = "open-answer" >☛ 公佈解答... </p></a>
		</div>

		<div class = "answer-box" id = "a3">
			<p class = "answer">不會。<br>登革熱主要是帶有病毒的病媒蚊叮咬人，病毒經由病媒蚊的唾液傳入人體，不會人直接傳人，也不會透過空氣傳染或接觸傳染。台灣主要的病媒蚊是埃及斑蚊與白線斑蚊，牠們的共同特徵是腳上有白斑。</p>
		</div>
	</div>

	<div class = "context" id = "q4">
		<div class = "question">
			<h2><span class="questionE">Q4</span>:登革熱會人傳人嗎？</h2>

			<a><p class = "open-answer" >☛ 公佈解答... </p></a>
		</div>

		<div class = "answer-box" id = "a4">
			<p class = "answer">不會。<br>登革熱主要是帶有病毒的病媒蚊叮咬人，病毒經由病媒蚊的唾液傳入人體，不會人直接傳人，也不會透過空氣傳染或接觸傳染。台灣主要的病媒蚊是埃及斑蚊與白線斑蚊，牠們的共同特徵是腳上有白斑。</p>
		</div>
	</div>

	<!-- footer -->
	<footer class = "footer">
		<p> <span>©</span> ALL RIGHT RESERVED TO THE MOSQUITO MAN</p>
		<li id = "facebook"></li>
		<li id = "aboutUs"></li>
	</footer>



</body>

<!-- jquery -->
<script src ="./src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src ="./js/nav.js"></script>
<!-- nav.js -->
<script src ="./js/qa.js"></script>
</html>
