<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./css/notBuild.css">

  <!-- shake CSS -->
  <title> 即時疫情 || The Mosquito Man </title>
</head>

<body style="overflow-x:hidden;">
  {{> header }}

  <div class="notBuildBox" style="margin-top:50px;">
    <iframe src="https://www.taiwanstat.com/realtime/dengue-vis-with-hospital/" width="90%" height="500" frameborder="0"allowtransparency="true"></iframe>
  </div>


  <div class="mos-after mos-disappear mos1">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos2">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos3">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos4">
    <div id="mosquito"></div>
  </div>

</body>
<!-- jquery -->
<script src="./src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="./js/nav.js"></script>
<!-- noBuild.js -->
<script src="./js/noBuild.js"></script>

</html>
