<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./dist/css/realtime.css">
</head>

<body style="overflow-x:hidden;">
  {{> header }}

  <div class="title-bar">
	  <h1>即時疫情</h1>
	</div>
  
  <div class ="block">
    <div class = "news">
      <!-- <div class = "half-circle circle-left"></div>
      <div class = "half-circle circle-right"></div> -->
      <h2>最近一週病例數：<span class = "dengue_num"></span>&nbsp;例</h2>
      <p>據統計，最近環境滋生源舉報點多發生於<span class = "dengue_place"><i>室外</i></span>，請您多注意周遭環境。</p>
      <a class = "recommend_ref" href="/realMap/realTime_patient">✔︎︎<i>統計資料範圍為全台，且包含境外移入，點此看「即時疫情現況」</i></a>
      </br>
      <a class = "recommend_ref" href="/killer">✔︎︎<i> 降蚊十八招：伏虎降蚊 - 「掌握家中環境」 </i></a>

<!--       <div class = "circle-bottom">
        <div class = "circle-center">
          <div class="circle-c"></div>
          <div></div>
          <div></div>
        </div>
      </div> -->
    </div>
    <div class = "b-box">
      <div class = "box">
        <div class = "box-img">
          <img src = "{{path}}dist/src/img/realTime/map1.png">
        </div>
        <div class = "box-title" id = "box-1">
          <h2 class = "title">即時疫情現況</h2>
        </div>
      </div>

      <div class = "box" >
        <div class = "box-img">
          <img class = "box-img-no-full" src = "{{path}}dist/src/img/realTime/map2.png">
        </div>
        <div class="box-title" id = "box-2">
          <h2 class = "title">群眾集力式蚊媒風險回報點分析</h2>
        </div>
      </div>

    </div>
  </div>

  {{> footer}}
</body>
<!-- jquery nav-->
<script src="./dist/src/jquery-2.2.4.min.js"></script>
<script src="./dist/js/nav.js"></script>
<!-- d3.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
<!-- realTime -->
<script src ="./dist/js/realtime.js"></script>
</html>
