<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./dist/css/notBuild.css">

  <!-- shake CSS -->
  <title> 即時疫情 || The Mosquito Man </title>
</head>

<body style="overflow-x:hidden;">
  {{> header }}

  <div class="notBuildBox" style="margin-top:50px;">
    <iframe src="https://www.taiwanstat.com/realtime/dengue-vis-with-hospital/" width="94%" height="650" frameborder="0"allowtransparency="true"></iframe>
  </div>


  {{> footer}}

</body>
<!-- jquery -->
<script src="./dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="./dist/js/nav.js"></script>
<!-- noBuild.js -->
<script src="./dist/js/noBuild.js"></script>

</html>
