<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="../dist/css/resource.css" >
</head>

<body style="overflow-x:hidden;">
  {{>header}}
  <div class = "resource">
    <div class="title-bar">
      <h1>{{title}}</h1>
    </div>
    <!-- resource -->
    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1><span class = "red">疫情</span>相關資料</h1>
    </div>

    <div class="content">
      <p><a href="http://www.cdc.gov.tw/diseaseinfo.aspx?treeid=8d54c504e820735b&nowtreeid=dec84a2f0c6fac5b&tid=77BFF3D4F9CB7982">衛生福利部疾病管制署</a>
      <br>
      <a href="http://web.ncku.edu.tw/files/11-1000-17008.php?Lang=zh-tw">成大登革熱防疫專區</a>
      <br>
      <a href="http://blog.udn.com/coco025/28979909">登革熱症狀-感染登革熱該怎麼辦？</a></p>
    </div>

    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1><span class = "red">背景音樂、遊戲配樂</span>來源</h1>
    </div>

    <div class="content">
      <p><a href="http://maoudamashii.jokersounds.com/">全曲無料・フリー音楽素材/魔王魂</a>
      <br>
      <a href="http://www.oo39.com/">oo39ドットコム</a>
      <br>
      <a href="https://www.youtube.com/channel/UCorqI2EE1avwlTCekjfi0LQ?sub_confirmation=1">YouTube 音樂庫 無版權配樂</a></p>
    </div>

    <div class="mainTitleBox" >
      <div class="leftBar"></div>
      <h1><span class = "red">蚊言文</span>文章來源</h1>
    </div>

    <div class="content">
      <p>感謝成大醫學院老師群接受團隊同仁採訪，並細心撰寫相關文章。</p>
    </div>

  </div>

  {{> footer}}
</body>
<!-- jquery -->
<script src="../dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="../dist/js/nav.js"></script>
</html>
