<!DOCTYPE HTML>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <!-- normalize.css -->
  <link type="text/css" rel="stylesheet" href="../src/normalize.css">
  <link type="text/css" rel="stylesheet" href="../css/notBuild.css">

  <!-- shake CSS -->
  <link type = "text/css" rel = "stylesheet" href = "../src/shake/csshake-crazy.min.css">
  <title> 練武功 || The Mosquito Man </title>
</head>

<body style="overflow-x:hidden;">
  
  {{>header}}

  <div class="notBuildBox">
    <img id="mosss" src="../src/img/2-mosss.png">
    <div id="text">
      <p> 資料建置中....</p>
    </div>
  </div>


  <div class="mos-after mos-disappear mos1">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos2">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos3">
    <div id="mosquito"></div>
  </div>
  <div class="mos-after mos-disappear mos4">
    <div id="mosquito"></div>
  </div>

</body>
<!-- jquery -->
<script src="../src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src="../js/nav.js"></script>
<!-- noBuild.js -->
<script src="../js/noBuild.js"></script>

</html>
